<template lang="pug">
  q-card-section
    q-list(v-for="(Content, Index) in contents" :key="Index" :class="Content.class" bordered separator)
      q-item(clickable v-ripple)
        q-item-section(@click="onEditEntry(Index)")
          q-item-label|{{Content.name}}
          q-item-label(caption lines="2")|{{Content.folder}}
        q-item-section(side top)
          q-item-label(caption)
            q-btn(push icon="delete" dense flat @click="onDeleteEntry(Index)")
</template>

<script>
const gmodPath = require('path')
const gmodFS = require('fs')
export default {
  name: 'Content_Breadcrumbs',
  data: () => ({
    contents: [],
    path: null
  }),
  mounted () {
    this.contents = []
    this.path = gmodPath.join(process.cwd(), 'data', 'test', this.$store.state.app.selectionHeader.congregation.value)
    this.$help.getFoldersInDir(this.path).forEach(lstrContentItem => {
      this.contents.push({ name: lstrContentItem.split('__')[0], class: '', folder: lstrContentItem, path: this.path })
    })
  },
  methods: {
    onDeleteEntry (Index) {
      this.$q.dialog({
        title: 'Löschen',
        message: 'Inhalt wirklich löschen: ' + this.contents[Index].name,
        cancel: true,
        persistent: true
      }).onOk(() => {
        gmodFS.rmdirSync(gmodPath.join(this.contents[Index].path, this.contents[Index].folder), { recursive: true })
        this.contents.splice(Index, 1)
      })
    },
    onEditEntry (Index) {
      this.$store.commit('app/addBreadCrumbs', { label: 'Element: ' + this.contents[Index].name, class: '', name: 'contents' })
      this.$emit('onEdit', gmodPath.join(this.path, this.contents[Index].folder))
    },
    onSelectEntry (Index) {
      this.contents.forEach(lobjElement => {
        lobjElement.class = ''
      })
      this.contents[Index].class = 'bg-blue-grey-2 shadow-1'
    }
  }
}
</script>
