<template lang="pug">
  q-card-section
    q-toolbar(class="text-primary")
      q-breadcrumbs
        template(v-slot:separator)
          q-icon(size="1.2em" name="arrow_forward")
        q-breadcrumbs-el(
          v-for="(Item, Index) in $store.state.app.breadCrumbs"
          :key="Index"
          :label="Item.label")
</template>

<script>
export default {
  name: 'Content_Breadcrumbs',
  data: () => ({
  }),
  mounted () {

  },
  methods: {
  }
}
</script>
