<template lang="pug">
  div
    div(class="row")
      div(class="col-1" style="text-align: center; height:100%; margin-top: auto; margin-bottom: auto;")
        q-btn(icon="arrow_back" color="primary" flat size="xl" @click="onGoBack")
      div(class="col")
        q-list(separator)
          q-item
            q-item-section
              |{{outputDate(tw.date)}} - {{tw.textword.book}} {{tw.textword.chapter}}, {{tw.textword.from}} {{tw.textword.to}}
          q-item
            q-item-section
              |{{tw.headline}}&nbsp;-&nbsp;
              i
                |{{tw.text}}
          q-item
            q-item-section
              |Bibellesung: {{tw.reading.book}} {{tw.reading.chapter}}, {{tw.reading.from}} {{tw.reading.to}}
          q-item
            q-item-section
              q-input(v-model="tw.date")
                template(v-slot:append)
                  q-icon(name="event" class="cursor-pointer")
                    q-popup-proxy(ref="qDateProxy" transition-show="scale" transition-hide="scale")
                      q-date(v-model="tw.date"  mask="dddd, DD.MM.YYYY" )
                        div(class="row items-center justify-end")
                          q-btn(v-close-popup label="Close" color="primary" flat)
          q-item
            q-item-section
              q-input(v-model="tw.headline" label="Vortext")
          q-item
            q-item-section
              div(class="row")
                div(class="col")
                  q-select(:options="Object.keys(bibleBooks)" v-model="tw.textword.book" @input="onBibleBookSelected('textword',tw.textword.book)" label="Buch")
                div(class="col" v-if="tw.textword.book !== null && tw.textword.book !== ''")
                  q-select(:options="chapters.textword" v-model="tw.textword.chapter" label="Kapitel" @input="onChapterSelected('textword',tw.textword.book, tw.textword.chapter)")
                div(class="col" v-if="tw.textword.chapter !== null && tw.textword.chapter !== ''")
                  q-select(:options="versesFrom.textword" v-model="tw.textword.from" label="Vers" @input="onVerseFromSelected('textword',tw.textword.book, tw.textword.chapter,tw.textword.verseFrom)")
                div(class="col"  v-if="tw.textword.from !== undefined")
                  q-select(:options="versesTo.textword" v-model="tw.textword.to" label="Vers bis" @input="onVerseToSelected('textword',tw.textword.book, tw.textword.chapter,tw.verseFrom,tw.textword.verseTo)")
          q-item
            q-item-section
              div(class="row")
                div(class="col")
                  q-checkbox(v-model="tw.reading.is" label="Bibellesung")
          q-item(v-if="tw.reading.is")
            q-item-section
              div(class="row" )
                div(class="col")
                  q-select(:options="Object.keys(bibleBooks)" v-model="tw.reading.book" @input="onBibleBookSelected('reading',tw.reading.book)" label="Buch")
                div(class="col" v-if="tw.reading.book !== null && tw.reading.book !== ''")
                  q-select(:options="chapters.reading" v-model="tw.reading.chapter" label="Kapitel" @input="onChapterSelected('reading',tw.reading.book, tw.reading.chapter)")
                div(class="col" v-if="tw.reading.chapter !== null && tw.reading.chapter !== ''")
                  q-select(:options="versesFrom.reading" v-model="tw.reading.from" label="Vers" @input="onVerseFromSelected('reading',tw.reading.book, tw.reading.chapter,tw.reading.verseFrom)")
                div(class="col"  v-if="tw.reading.from !== undefined")
                  q-select(:options="versesTo.reading" v-model="tw.reading.to" label="Vers bis" @input="onVerseToSelected('reading',tw.reading.book, tw.reading.chapter,tw.reading.verseFrom,tw.reading.verseTo)")
</template>

<script>
export default {
  name: 'appConfiguration',
  props: ['textword'],
  components: { },
  data: () => ({
    bibleBooks: null,
    chapters: {
      textword: null,
      reading: null
    },
    versesFrom: {
      textword: null,
      reading: null
    },
    versesTo: {
      textword: null,
      reading: null
    },
    versesCount: {
      textword: -1,
      reading: -1
    },
    tw: null
  }),
  watch: {
    saveContent (NewValue) {
      if (NewValue) {
        this.saveData()
      }
    }
  },
  mounted () {
    this.tw = this.textword
    this.bibleBooks = this.$help.getBibleBooks()
    this.createYearEntries()
  },
  methods: {
    onGoBack () {
      this.$emit('onGoBack', this.tw)
    },
    getFullDay (DayInt) {
      switch (DayInt) {
        case 0:
          return 'So.'
        case 1:
          return 'Mo.'
        case 2:
          return 'Di.'
        case 3:
          return 'Mi.'
        case 4:
          return 'Do.'
        case 5:
          return 'Fr.'
        case 6:
          return 'Sa.'
      }
    },
    outputDate (DateValue) {
      const larrDate = DateValue.split('.')
      const ldtDate = new Date(larrDate[2], larrDate[1], larrDate[0])
      return this.getFullDay(ldtDate.getDay()) + ', ' + this.$help.twoDigitsMonth(ldtDate.getDate()) + '.' + this.$help.twoDigitsMonth(ldtDate.getMonth())
    },
    onVerseToSelected (What, Book, Chapter, VerseFrom, VerseTo) {
      if (What === 'textword') {
        this.tw[What].text = ''
        this.tw[What].text = this.$help.getVersesContent(Book, Chapter, VerseFrom, VerseTo)
      }
    },
    onVerseFromSelected (What, Book, Chapter, VerseFrom, Clear = true) {
      this.tw[What].text = ''
      this.tw[What].text = this.$help.getVersesContent(Book, Chapter, VerseFrom)
      this.tw[What].to = ''
      this.versesTo[What] = []
      for (let lintCounter = parseInt(this.tw[What].from); lintCounter <= this.versesCount[What]; lintCounter++) {
        this.versesTo[What].push(lintCounter)
      }
      if (this.tw[What].to === '') {
        this.tw[What].to = this.tw[What].from
      }
    },
    onChapterSelected (What, Book, Chapter, Clear = true) {
      this.versesCount[What] = this.$help.getVersesCount(Book, Chapter)
      this.versesFrom[What] = []
      for (let lintCounter = 1; lintCounter <= this.versesCount[What]; lintCounter++) {
        this.versesFrom[What].push(lintCounter)
      }
      if (Clear) {
        this.tw[What].from = ''
        this.tw[What].to = ''
      }
    },
    onBibleBookSelected (What, Book, Clear = true) {
      this.chapters[What] = []
      for (let lintCounter = 1; lintCounter <= this.bibleBooks[Book]; lintCounter++) {
        this.chapters[What].push(lintCounter)
      }
      if (Clear) {
        this.tw[What].chapter = ''
        this.tw[What].from = ''
        this.tw[What].to = ''
      }
    },
    onEditEntry (Index) {
      this.selectedIndex = Index
      this.section = 'details'
      this.onBibleBookSelected('textword', this.data.content[Index].textword.book, false)
      this.onChapterSelected('textword', this.data.content[Index].textword.book, this.data.content[Index].textword.chapter, false)
      this.onVerseFromSelected('textword', this.data.content[Index].textword.book, this.data.content[Index].textword.chapter, this.data.content[Index].textword.from)
      this.onBibleBookSelected('reading', this.data.content[Index].reading.book, false)
      this.onChapterSelected('reading', this.data.content[Index].reading.book, this.data.content[Index].reading.chapter, false)
      this.onVerseFromSelected('reading', this.data.content[Index].reading.book, this.data.content[Index].reading.chapter, this.data.content[Index].reading.from)
      this.$emit('onEditDetails')
    },
    createYearEntries () {
      for (let lintYear = new Date().getFullYear() - 2; lintYear <= new Date().getFullYear() + 3; lintYear++) {
        this.years.push(lintYear)
      }
    }
  }
}
</script>
