<template lang="pug">
  div
    div(class="row" v-if="!details")
      div(class="col-1" style="text-align: center; height:100%; margin-top: auto; margin-bottom: auto;")
        q-btn(icon="arrow_back" color="primary" flat size="xl" @click="onGoBack")
      div(class="col")
        div()
          q-list(style="min-width: 100%")
            q-item
              q-item-section
                q-select(label="Monat" v-model="data.month" :options="months")
            q-item
              q-item-section
                q-select(label="Jahr" v-model="data.year" :options="years")
          q-item
              q-item-section
                q-editor(v-model="data.text" :toolbar="[['bold', 'italic', 'underline']]")
          q-toolbar(class="text-primary" )
            q-btn(icon="add" flat @click="onNewBibleWord")
            q-btn(icon="low_priority" flat @click="onReorder" )
            q-toolbar-title
              |Textwörter
          OrderList(v-model="data.content" listStyle="height:auto" dataKey="date" v-if="reorder")
            template(#item="slotProps")
              span(style="min-width: 300px;")
                |{{slotProps.item.date}} - {{slotProps.item.book}} {{slotProps.item.chapter}} {{slotProps.item.from}} {{slotProps.item.to}}
          q-list(v-for="(Entry, Index) in data.content" :key="Index" bordered separator v-if="!reorder")
            q-item(clickable v-ripple)
              q-item-section(@click="onEditEntry(Index)")
                q-item-label|{{Entry.date}}
                q-item-label(caption lines="2")|{{Entry.book}} {{Entry.chapter}} {{Entry.from}} {{Entry.to}}
              q-item-section(side top)
                q-item-label(caption)
                  q-btn(push icon="delete" dense flat @click="onDeleteEntry(Index)")
    gcompDetails(v-if="details" :textword="this.data.content[this.selectedIndex]" @onGoBack="goBack")
</template>

<script>
import gcompDetails from './contentDisplayTextwordsDetails'
const lmodPath = require('path')
import OrderList from 'primevue/orderlist'
export default {
  name: 'appConfiguration',
  props: ['path', 'saveContent'],
  components: { OrderList, gcompDetails },
  data: () => ({
    reorder: false,
    bibleBooks: null,
    chapters: {
      textword: null,
      reading: null
    },
    versesFrom: {
      textword: null,
      reading: null
    },
    versesTo: {
      textword: null,
      reading: null
    },
    versesCount: {
      textword: -1,
      reading: -1
    },
    details: false,
    data: null,
    selectedIndex: -1,
    years: [],
    months: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
  }),
  watch: {
    saveContent (NewValue) {
      if (NewValue) {
        this.saveData()
      }
    }
  },
  mounted () {
    this.data = this.$help.loadJson(lmodPath.join(this.path, 'settings.json'))
  },
  methods: {
    onGoBack () {
      this.$store.commit('app/removeBreadCrumbs', 'contents')
      this.$emit('onGoBack')
    },
    goBack (Textword) {
      this.details = false
      this.data.content[this.selectedIndex] = Textword
      this.$store.commit('app/removeBreadCrumbs', 'textword')
    },
    onReorder () {
      if (this.reorder) {
        this.reorder = false
      } else {
        this.reorder = true
      }
    },
    onDeleteEntry (Index) {
      this.$q.dialog({
        title: 'Textwort löschen',
        message: 'Möchtest Du wirklich das Textwort löschen',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.data.content.splice(Index, 1)
      })
    },
    onNewBibleWord () {
      if (!Object.prototype.hasOwnProperty.call(this.data, 'content')) {
        this.$set(this.data, 'content', [])
      }
      const lobjNewData = {}
      lobjNewData.date = '01.01.2000'
      lobjNewData.class = ''
      lobjNewData.textword = {}
      lobjNewData.textword.book = ''
      lobjNewData.textword.chapter = ''
      lobjNewData.textword.from = ''
      lobjNewData.textword['to:'] = ''
      lobjNewData.headline = ''
      lobjNewData.text = ''
      lobjNewData.reading = {}
      lobjNewData.reading.is = false
      lobjNewData.reading.book = ''
      lobjNewData.reading.chapter = ''
      lobjNewData.reading.from = ''
      lobjNewData.reading.to = ''
      this.data.content.push(lobjNewData)
    },
    saveData () {
      this.$help.saveJson(this.data, lmodPath.join(this.path, 'settings.json'))
      this.$q.notify({
        message: 'Daten gespeichert',
        color: 'purple'
      })
      this.$emit('saved')
    },
    onEditEntry (Index) {
      this.selectedIndex = Index
      this.details = true
      console.log(this.data.content[Index])
      // + ' ' + this.data.content[Index].chapter}} +', ' + this.data.content[Index].from + ' ' + this.data.content[Index].to
      const lstrTextword = this.data.content[Index].date + ' - ' + this.data.content[Index].textword.book + ' ' + this.data.content[Index].textword.chapter + ', ' + this.data.content[Index].textword.from + ' ' + this.data.content[Index].textword.to
      this.$store.commit('app/addBreadCrumbs', { label: 'Textwort: ' + lstrTextword, class: '', name: 'textword' })
    },
    createYearEntries () {
      for (let lintYear = new Date().getFullYear() - 2; lintYear <= new Date().getFullYear() + 3; lintYear++) {
        this.years.push(lintYear)
      }
    },
    onTextwordSelect (Index) {
      this.data.content.forEach(lobjElement => {
        lobjElement.class = ''
      })
      if (this.data.content[Index].class === '') {
        this.data.content[Index].class = 'bg-blue-grey-2 shadow-1'
      }
    }
  }
}
</script>

<style scoped>
</style>
