<template lang="pug">
  div
    gcompTextwords(v-if="contentType === 'TW'" :path="path" @onEditDetails="$emit('onEditDetails')" :saveContent="saveContent" @saved="onSaved" @onGoBack="goBack")
</template>

<script>
const gmodPath = require('path')
import gcompTextwords from './contentDisplayTextwords'
export default {
  name: 'appConfiguration',
  props: ['path', 'saveContent'],
  components: { gcompTextwords },
  data: () => ({
    contentType: null
  }),
  mounted () {
    console.log(this.path)
    this.contentType = gmodPath.basename(this.path).split('__')[1]
  },
  methods: {
    goBack () {
      this.$emit('onGoBack')
    },
    onSaved () {
      this.$emit('saved')
    }
  }
}
</script>
