<template lang="pug">

              //-- Bildergallerie
              q-card-section(v-if="content.type === 'Bildergallerie'")
                q-card
                  q-card-section
              q-card-section(v-if="content.type === 'Wort zum Monat'")
                q-card
                  q-card-section
                    q-file( dense
                      v-model="content.image"
                      label="Bild"
                      accept=".jpeg, .jpg, .png"
                      @rejected="onReject"
                      clearable )
                      template(v-slot:prepend)
                        q-icon(name="attach_file")
                  q-card-section
                    q-input(label="Überschrift" v-model="content.headline" dense)
                  q-card-section
                    q-input(label="Ansprache" v-model="content.address" dense)
                  q-card-section
                    q-input(label="Author" v-model="content.author" dense)
                  q-card-section
                    q-input(label="Arbeitsbereich" v-model="content.area" dense)
                  q-card-section
                    q-editor(v-model="content.text" :toolbar="[['bold', 'italic', 'underline']]")

</template>

<script>
export default {
  name: 'appConfiguration',
  props: ['selectedContentName'],
  components: { },
  data: () => ({
  }),
  watch: {
    selectedContentName (NewValue) {

    }
  },
  mounted () {
  },
  methods: {
  }
}
</script>
