<template lang="pug">
      q-expansion-item(
            v-model="expansion.content"
            v-if="content.name !== ''"
            switch-toggle-side
            expand-icon-toggle
            popup
            expand-separator)
            template(v-slot:header)
              q-item-section
                |Verwaltung des Inhalts:&nbsp;{{content.name}}
              q-item-section(side)
                q-btn(dense flat icon="save" @click="onSaveContentData")
            q-card
              q-card-section
                |{{content}} - {{contentImages}}
              q-card-section
                div(class="text-h5")|{{content.name}}
                q-select(label="Typ" :options="typeOptions" v-model="content.type")
              q-card-section(v-if="content.type === 'Artikel'")
                q-card
                  q-card-section
                    q-input(label="Überschrift" v-model="content.headline" dense)
                  q-card-section
                    q-editor(v-model="content.text" :toolbar="[['bold', 'italic', 'underline']]")
                  q-card-section
                    q-expansion-item(
                      v-model="expansion.images"
                      switch-toggle-side
                      expand-icon-toggle
                      popup
                      expand-separato)
                      template(v-slot:header)
                        q-item-section
                          |Bilder ({{contentImages.length}})
                        q-item-section(side)
                          q-btn(dense flat icon="add" @click="onAddArticleImage")
                      q-card
                        q-card-section(v-if="contentImages.length > 0")
                          q-card(v-for="(Image, Index) in contentImages" :key="Index")
                            q-card-section
                              q-input(label="Bildunterschrift" v-model="Image.text")
                              q-input(label="Fotograf" v-model="Image.copyright")
                            q-card-section
                              div(class="row")
                                div(class="col-8")
                                  q-file(v-model="Image.fileName" @input="onImageSelected(Image.fileName, Index)")
                                div(class="col-4" v-if="Image.fileName !== undefined")
                                  q-img(:src="Image.fileName" spinner-color="white" style="height: 150px; max-width: 150px")
                                    template(v-slot:error)
                                      div(class="absolute-full flex flex-center bg-negative text-white")
                                        |Bild konnte nicht geladen werden
                                    div(class="absolute-bottom text-subtitle1 text-center")|Caption
                            q-card-actions
                              q-btn(label="Bild löschen" flat dense @click="onDeleteImage(Index)")

</template>

<script>
export default {
  name: 'appConfiguration',
  props: ['selectedContentName'],
  components: { },
  data: () => ({
  }),
  watch: {
    selectedContentName (NewValue) {

    }
  },
  mounted () {
  },
  methods: {
  }
}
</script>
