<template lang="pug">
  q-page()
    div(class="q-gutter-y-md")
      q-card
        q-tabs(
          v-model="tabs"
          dense
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
          @input="onTabChanged")
          q-tab(name="basics" label="Anwendung" )
          q-tab(name="scribus" label="Scribus")
          q-tab(name="recurringEvents" label="Regelmäßige Veranstaltung")
        q-separator
        q-tab-panels(v-model="tabs" animated)
          q-tab-panel(name="basics")
            q-toolbar(class="text-primary")
                q-space
                q-btn(dense flat icon="save" @click="onSave('basics')")
            q-list(v-if="tabs === 'basics'")
              q-expansion-item(label="Datenpfad" switch-toggle-side
                expand-icon-toggle
                popup
                expand-separator)
                q-card
                  q-card-section
                    q-input(label='Datenpfad' v-model="configData.path")
          q-tab-panel(name="scribus")
            q-toolbar(class="text-primary")
                q-space
                q-btn(dense flat icon="save" @click="onSave('scribus')")
            q-list(v-if="tabs === 'scribus'")
              q-expansion-item(label="Impressum-Reihen" switch-toggle-side
                expand-icon-toggle
                popup
                expand-separator
                @show="buttonsVisibility('impressRows', 'show')"
                @hide="buttonsVisibility('impressRows', 'hide')")
                template(v-slot:header)
                  q-item-section(side)
                    div(class="row items-center")
                      q-btn(icon="add" dense small flat v-if="btns.impressRows" @click="configData.impressRows.push({rows: configData.impressRows.length +1, mm: 0}); $forceUpdate();")
                q-card
                  q-card-section
                    div(class="row")
                      div(class="col-2")|Reihen
                      div(class="col-2")|Höhe in MM
                      div(class="col-2")
                    div(v-for="(Row, Key) in configData.impressRows" :key="Key")
                      div(class="row")
                        div(class="col-2")
                          q-input(v-model="Row.rows")
                        div(class="col-2")
                          q-input(v-model="Row.mm")
                        div(class="col-2")
                          |{{Key}}
                          q-btn(icon="delete_outline" flat dense @click="configData.impressRows.splice(Key, 1); $forceUpdate();")
              q-expansion-item(label="Normale Reihen" switch-toggle-side
                expand-icon-toggle
                popup
                expand-separator
                @show="buttonsVisibility('normalRows', 'show')"
                @hide="buttonsVisibility('normalRows', 'hide')")
                template(v-slot:header)
                  q-item-section(side)
                    div(class="row items-center")
                      q-btn(icon="add" dense small flat v-if="btns.normalRows" @click="configData.normalRows.push({rows: configData.normalRows.length +1, mm: 0}); $forceUpdate();")
                q-card
                  q-card-section
                    div(class="row")
                      div(class="col-2")|Reihen
                      div(class="col-2")|Höhe in MM
                      div(class="col-2")
                    div(v-for="(Row, Key) in configData.normalRows" :key="Key")
                      div(class="row")
                        div(class="col-2")
                          q-input(v-model="Row.rows")
                        div(class="col-2")
                          q-input(v-model="Row.mm")
                        div(class="col-2")
                          q-btn(icon="delete_outline" flat dense @click="configData.normalRows.splice(Key, 1); $forceUpdate();")
          q-tab-panel(name="recurringEvents")
            q-toolbar(class="text-primary")
                q-space
                q-btn(dense flat icon="save" @click="onSave('recurringEvents')")
            q-list(v-if="tabs === 'recurringEvents'")
              q-expansion-item(label="Impressum-Reihen" switch-toggle-side
                expand-icon-toggle
                popup
                expand-separator
                @show="buttonsVisibility('recurringPossibilities', 'show')"
                @hide="buttonsVisibility('recurringPossibilities', 'hide')")
                template(v-slot:header)
                  q-item-section(side)
                    div(class="row items-center")
                      q-btn(icon="add" dense small flat v-if="btns.recurringPossibilities" @click="configData.recurringPossibilities.push('bitte eingeben'); $forceUpdate();")
                q-card
                  q-card-section
                    div(class="row")
                      div(class="col-6")|Auswahlmöglichkeit
                      div(class="col-2")
                    div(v-for="(Row, Key) in configData.recurringPossibilities" :key="Key")
                      div(class="row")
                        div(class="col-6")
                          q-input(v-model="configData.recurringPossibilities[Key]")
                        div(class="col-2")
                          q-btn(icon="delete_outline" flat dense @click="configData.recurringPossibilities.splice(Key, 1); $forceUpdate();")

</template>

<script>

export default {
  name: 'appConfiguration',
  watch: {
  },
  data: () => ({
    configData: [],
    tabs: '',
    btns: {
      impressRows: false,
      normalRows: false,
      recurringPossibilities: false
    }
  }),
  mounted () {
  },
  methods: {
    notify (Message, Caption) {
      this.$q.notify({
        message: Message,
        caption: Caption,
        color: 'primary'
      })
    },
    onSave (Part) {
      switch (Part) {
        case 'basics':
          this.$help.saveJson(this.configData, this.$help.getPath('c', 'settings'))
          this.notify('Erfolgreich gespeichert', 'Die Basiseinstellungen wurden erfolgreich gespeichert')
          break
        case 'scribus':
          this.$help.saveJson(this.configData, this.$help.getPath('c', 'scribus'))
          this.notify('Erfolgreich gespeichert', 'Die Scribuseinstellungen wurden erfolgreich gespeichert')
          break
        case 'recurringEvents':
          this.$help.saveJson(this.configData, this.$help.getPath('c', 'eventOptions'))
          this.notify('Erfolgreich gespeichert', 'Die Veranstaltungseinstellungen wurden erfolgreich gespeichert')
          break
      }
    },
    buttonsVisibility (Button, Type) {
      if (Type === 'show') {
        this.btns[Button] = true
      } else {
        this.btns[Button] = false
      }
    },
    onTabChanged (Tab) {
      switch (Tab) {
        case 'basics':
          this.configData = this.$help.loadConfig('settings')
          break
        case 'scribus':
          this.configData = this.$help.loadConfig('scribus')
          break
        case 'recurringEvents':
          this.configData = this.$help.loadConfig('eventOptions')
          break
      }
    }
  }
}
</script>
