<template lang="pug">
  div
    gcompHeader(
      :flow="headerFlow"
      @onDistrict="selection"
    )
    q-card()
      q-card-section
        q-checkbox(v-model="convertImages" label="Bilder nach SW konvertieren" disable)
        q-checkbox(v-model="copyFiles" label="Dateien kopieren")
        q-checkbox(v-model="changeToBW" label="In Datei nach BW umbenennen")
      q-card-section
          div(class="text-h5")|Durchführen für
          //-div(class="row" v-for="(Congregation, Index) in congregations" :key="Index")
            div(clas="col")
              q-checkbox(v-model="chosenCongregations" :val="Congregation" :label="Congregation")
      q-card-section
        //-q-btn(label="Umwandeln" v-if="chosenCongregations.length > 0" @click="createBWEdition")
</template>

<script>
const { join, extname, basename } = require('path')

const { readdirSync, statSync, copyFileSync, readFileSync, writeFileSync } = require('fs')
const lmodJimp = require('Jimp')

import gcompHeader from './../components/header'

export default {
  name: 'appConfiguration',
  components: { gcompHeader },
  watch: {
  },
  data: () => ({
    headerFlow: [
      { when: 'mount', action: 'show', what: 'district' },
      { when: 'mount', action: 'load', what: 'district', for: 'district', from: 'file', source: 'districtSettings' },
      { when: 'district', action: 'load', what: 'years', for: 'year', from: 'fs', source: 'district' },
      { when: 'year', action: 'load', what: 'months', for: 'month', from: 'fs', source: 'year' },
      { when: 'month', action: 'emit' }
    ],
    convertImages: false,
    copyFiles: true,
    changeToBW: true,
    districts: null,
    chosenDistrict: null,
    congregations: null,
    configuration: null,
    chosenCongregations: null,
    years: [],
    months: [],
    chosenYear: null,
    chosenMonth: null
  }),
  mounted () {
  },
  methods: {
    convertImage (Path, SourceFile) {
      const lstrFileExtension = extname(join(Path, SourceFile))
      const lstrNewFileName = basename(join(Path, SourceFile), lstrFileExtension) + '_sw'
      lmodJimp.read(join(Path, SourceFile), (lobjErr, lobjImage) => {
        if (lobjErr) throw lobjErr
        lobjImage.greyscale().brightness(20).write(join(Path, lstrNewFileName, lstrFileExtension))
      })
    },
    readDirAndConvert (Path) {
      readdirSync(Path).forEach(lstrFile => {
        if (lstrFile.includes('.jpg') || lstrFile.includes('.jpeg') || lstrFile.includes('.png') || lstrFile.includes('.tif') || lstrFile.includes('.tiff')) {
          this.convertImage(join(Path, 'Bezirk', 'Inhalt'), lstrFile)
        }
      })
    },
    createBWEdition () {
      if (this.convertImages) {
        const lstrPath = join(this.appConfig.path, this.chosenYear, this.chosenMonth)
        this.readDirAndConvert(join(lstrPath, 'Bezirk', 'Inhalt'))
        this.chosenCongregations.forEach(lstrCongregation => {
          const lobjCongregation = this.$help.loadCongregationData(this.chosenDistrict, lstrCongregation)
          this.readDirAndConvert(join(lstrPath, lobjCongregation.folder, 'Inhalt'))
        })
      }
      if (this.copyFiles) {
        const lstrRootPath = join(this.appConfig.path, this.chosenYear, this.chosenMonth)
        const larrFolders = this.getFoldersInDir(lstrRootPath)
        larrFolders.forEach(lstrFolder => {
          if (this.chosenCongregations.includes(lstrFolder)) {
            const lstrNewFile = join(lstrRootPath, lstrFolder, 'Ausgabe', 'GB_sw.sla')
            copyFileSync(join(lstrRootPath, lstrFolder, 'Ausgabe', 'GB.sla'), lstrNewFile)
            if (this.changeToBW) {
              let lstrText = readFileSync(lstrNewFile, 'utf-8')
              lstrText = lstrText.replace('.jpg', '_sw.jpg')
                .replace('.jpeg', '_sw.jpeg')
                .replace('.png', '_sw.png')
                .replace('.tif', '_sw.tif')
                .replace('<COLOR NAME="Tabelle-Hintergrund" SPACE="RGB" R="215" G="225" B="243"/>', '<COLOR NAME="Tabelle-Hintergrund" SPACE="RGB" R="225" G="225" B="225"/>')
                .replace('<COLOR NAME="NAK-blau 100%" SPACE="CMYK" C="68" M="34" Y="0" K="0"/>', '<COLOR NAME="NAK-blau 100%" SPACE="CMYK" C="0" M="0" Y="0" K="31"/>')
              writeFileSync(lstrNewFile, lstrText, 'utf-8')
            }
          }
        })
      }
    },
    getMonths () {
      this.months = this.getFoldersInDir(join(this.appConfig.path, this.chosenYear))
    },
    onDistrictSelected () {
      this.congregations = this.$help.loadConfig(this.chosenDistrict)
      this.receivers = this.congregations
      this.configuration = this.$help.loadConfig(this.chosenDistrict + '_settings').sendOptions
    },
    getFoldersInDir (Path) {
      let larrDirs = readdirSync(Path)
      larrDirs = larrDirs.filter(f => statSync(join(Path, f)).isDirectory())
      return larrDirs
    }
  }
}
</script>
