
<template lang="pug">
  div()
    q-dialog(v-model="dialog" persistent)
      q-card(style="min-width: 350px")
        q-card-section
          div(class="text-h6")|Name des neuen Inhalts
        q-card-section(class="q-pt-none")
          q-input(dense v-model="newContent.name" autofocus)
        q-card-section()
          q-select(label="Typ" v-model="newContent.type" :options="newContent.options")
        q-card-actions(align="right" class="text-primary")
          q-btn(flat label="Abbruch" v-close-popup)
          q-btn(flat label="Einfügen" v-close-popup @click="onAddNewContent" v-if="newContent.name !== '' && newContent.type !== ''")

    div(class="text-h4")
      |Inhalt der Gemeindebriefe
    q-card(v-if="$store.state.app.selectionHeader.district.value && $store.state.app.selectionHeader.congregation.value && $store.state.app.selectionHeader.year.value && $store.state.app.selectionHeader.month.value")
      q-toolbar(class="text-primary")
        q-btn(icon="add" flat @click="onNewContent")
        q-btn(icon="save" v-if="saveVisible" flat @click="onSaveContent")
        q-toolbar-title
          gcompBreadcrumbs()
      gcompAvailableContents(v-if="activeSection === 'contentSelection'" @onEdit="onEdit" )
      gcompContentDisplay(v-if="activeSection === 'contentEdit'" :path="selectedContentPath" @onEditDetails="onEditDetails" :saveContent="saveContent" @saved="onSaved" @onGoBack="goBack")
    q-card(v-else)
      q-card-section
        div(class="text-h6")|Keine Daten zum Anzeigen! Bitte den Bezirk, das Jahr, den Monat und die Gemeinde über die Selektionsmöglichkeiten am oberen Bildschirmrand wählen
</template>

<script>
const { readdirSync, statSync, existsSync, mkdirSync, writeFileSync, copyFileSync } = require('fs')
const { join } = require('path')
// import { remote } from 'electron'
import gcompBreadcrumbs from './../components/content/breadcrumbs'
import gcompAvailableContents from './../components/content/availableContents'
import gcompContentDisplay from './../components/content/contentDisplay'
export default {
  name: 'content',
  components: { gcompBreadcrumbs, gcompAvailableContents, gcompContentDisplay },
  data: () => ({
    newContent: { name: '', type: '', options: [] },
    section: 'Verfügbare Inhalte',
    sections: [],
    activeSection: null,
    selectedContentPath: null,
    chosenAction: null,
    dialog: false,
    saveVisible: false,
    saveContent: false,
    removeVisible: false
  }),
  mounted () {
    this.$store.commit('app/fakeHeader', { district: 'Hamburg-Süd', congregation: 'Buxtehude', year: '2020', month: '09' })
    this.$store.commit('app/clearBreadCrumbs')
    this.$store.commit('app/addBreadCrumbs', [{ label: this.$store.state.app.selectionHeader.district.value, class: '', name: 'district' }, { label: this.$store.state.app.selectionHeader.year.value, class: '', name: 'year' }, { label: this.$store.state.app.selectionHeader.month.value, class: '', name: 'month' }, { label: this.$store.state.app.selectionHeader.congregation.value, class: '', name: 'congregation' }])
    this.$store.commit('app/addBreadCrumbs', { label: 'Inhalte', class: '', name: 'contents' })
    this.activeSection = 'contentSelection'
    this.newContent.options = ['Wort zum Monat']
  },
  methods: {
    goBack () {
      this.activeSection = 'contentSelection'
    },
    onSelectSection (Event) {
      console.log(Event)
    },
    onSaved () {
      this.saveContent = false
    },
    onSaveContent () {
      this.saveContent = true
    },
    onNewContent () {
      this.dialog = true
    },
    onEditDetails () {
      this.sections = ['Verfügbare Inhalte', 'Inhalt bearbeiten', 'Details bearbeiten']
    },
    onEdit (ContentPath) {
      this.activeSection = 'contentEdit'
      this.sections = ['Verfügbare Inhalte', 'Inhalt bearbeiten']
      this.section = 'Inhalt bearbeiten'
      this.selectedContentPath = ContentPath
      this.saveVisible = true
    },
    onSaveContentData () {
      const lstrPath = join(process.cwd(), 'data', 'test', this.chosenCongregation, this.content.name)
      const lobjContent = this.content
      if (this.contentImages.length > 0) {
        lobjContent.images = []
        this.contentImages.forEach((lobjImage, lintIndex) => {
          const lstrNewFileName = lintIndex.toString() + lobjImage.fileName.substring(lobjImage.fileName.indexOf('.'))
          copyFileSync(lobjImage.path, join(lstrPath, lstrNewFileName))
          lobjContent.images.push({ copyright: lobjImage.copyright, text: lobjImage.text, fileName: join(lstrPath, lstrNewFileName) })
        })
      }

      this.$help.saveJson(lobjContent, join(lstrPath, 'settings.json'))

      this.$q.notify({
        type: 'primary',
        message: 'Daten gespeichert'
      })
    },
    onAddNewContent () {
      const lstrPath = join(process.cwd(), 'data', 'test', this.$store.state.app.selectionHeader.congregation.value, this.newContent.name.replace(' ', '_') + '__' + this.$help.getCategoryShortcut(this.newContent.type))
      if (!existsSync(lstrPath)) {
        mkdirSync(lstrPath)
      }
      writeFileSync(join(lstrPath, 'settings.json'), JSON.stringify({ name: this.newContent.name, type: this.newContent.type }), 'utf-8')
    },
    getFoldersInDir (Path) {
      let larrDirs = readdirSync(Path)
      larrDirs = larrDirs.filter(f => statSync(join(Path, f)).isDirectory())
      return larrDirs
    }

  }
}
</script>
