<template lang="pug">
  q-page()
    q-dialog(v-model="dialog.visible" position="top")
      q-card
        q-card-section()
          div(class="text-h4" v-if="dialog.type === 'district'")|Neuer Bezirk
          div(class="text-h4" v-if="dialog.type === 'congregation'")|Neue Gemeinde
          div(class="q-gutter-sm")
            q-radio(v-model="dialogNewType" val="empty" label="Keine Vorlage")
            q-radio(v-model="dialogNewType" val="fromTemplate" label="Aus Vorlage")
          div()
            q-input(label="Name" v-model="dialog.newName")
          div(v-if="dialogNewType === 'fromTemplate'")
            q-select(label="Vorlage" :options="dialog.newTemplateOptions" v-model="dialog.template")
        q-card-actions(align="right")
          q-btn(flat label="Erstellen" color="primary" v-close-popup @click="onNewData")
    //-q-card
      q-card-section
        div(class="row")
          div(class="col-10")
            q-select(label="Bezirk" v-model="chosenDistrict" :options="districts" @input="onDistrictSelected" dense)
          div(class="col-2")
            q-btn(icon="add" dense flat @click="dialog.type = 'district'; dialog.visible = true; dialogNewType = 'empty'")
            q-btn(icon="delete_outline" dense flat v-if="chosenDistrict !== '' && chosenDistrict !== null")
        div(class="row")
          div(class="col-10")
            q-select(v-if="chosenDistrict !== null" label="Gemeinde" v-model="chosenCongregation" :options="congregations" @input="onCongregationSelected" dense)
          div(class="col-2")
            q-btn(icon="add" dense flat v-if="chosenDistrict !== '' && chosenDistrict !== null"  @click="dialog.type = 'congregation'; dialog.visible = true; dialogNewType = 'empty'")
            q-btn(icon="delete_outline" dense flat v-if="chosenCongregation !== '' && chosenCongregation !== null")
    //-div(v-if="editMode === 'District'")
      div(class="q-gutter-y-md")
        q-card
          q-tabs(
            v-model="tab"
            dense
            class="text-grey"
            active-color="primary"
            indicator-color="primary"
            align="justify"
            narrow-indicator)
            q-tab(name="impress" label="Impressum")
          q-separator
          q-tab-panels(v-model="tab" animated)
            q-tab-panel(name="impress")
                |{{configData}}
    //-div(v-if="editMode === 'Congregation'")
      div(class="q-gutter-y-md")
        q-card
          q-tabs(
            v-model="tab"
            dense
            class="text-grey"
            active-color="primary"
            indicator-color="primary"
            align="justify"
            narrow-indicator)
            q-tab(name="basics" label="Grundlagen")
            q-tab(name="impress" label="Impressum")
            q-tab(name="recurringEvents" label="Regelmäßige Veranstaltung")
            q-tab(name="pastors" label="Seelsorger")
          q-separator
          q-tab-panels(v-model="tab" animated)
            q-tab-panel(name="basics")
              q-toolbar(class="text-primary")
                q-space
                q-btn(dense flat icon="save" @click="onSave")
              div(class="row")
                div(class="col")
                  q-input(label="Gemeindename" v-model="configData.name" dense style="margin-right: 10px;")
                div(class="col")
                  q-input(label="Ordnername" v-model="configData.folder" dense)
              div(class="row")
                div(class="col")
                  q-input(label="Digital-Notiz - Schriftgröße" v-model="configData.configuration.digital_notice.font_size" dense style="margin-right: 10px;")
                div(class="col")
                  q-input(label="Digital-Notiz - Zeilenabstand" v-model="configData.configuration.digital_notice.line_spacing" dense)
              div(class="text-h4")|Titelbild
              div(class="row")
                div(class="col")
                  q-input(label="Y-Position - Rahmen (mm)" v-model="configData.configuration.frontPageImage.Y")
                div(class="col")
                  q-input(label="Höhe (mm)" v-model="configData.configuration.frontPageImage.HEIGHT")
              div(class="row")
                div(class="col")
                  q-input(label="Skalierungsfaktor" v-model="configData.configuration.frontPageImage.SCALE")
              div(class="row")
                div(class="col")
                  q-input(label="Y-Position- Bild (mm)" v-model="configData.configuration.frontPageImage.GX")
                div(class="col")
                  q-input(label="X-Position - Bild (mm)" v-model="configData.configuration.frontPageImage.GY")
              |{{configData.configuration.frontPageImage}}
            q-tab-panel(name="impress")
              q-toolbar(class="text-primary")
                q-space
                q-btn(dense flat icon="save" @click="onSave")
              q-list()
                q-expansion-item(label="Adresse" switch-toggle-side
                  expand-icon-toggle
                  popup
                  expand-separator)
                  q-card
                    q-card-section
                      div(class="row")
                        div(class="col")
                          q-input(label="Straße" v-model="configData.impress.street" style="margin-right: 10px;" dense)
                        div(class="col")
                          q-input(label="Hausnummer" v-model="configData.impress.number" dense)
                      div(class="row")
                        div(class="col")
                          q-input(label="Postleitzahl" v-model="configData.impress.zip" style="margin-right: 10px;" dense)
                        div(class="col")
                          q-input(label="Ort" v-model="configData.impress.city" dense)
              q-expansion-item(label="Internet" switch-toggle-side
                  expand-icon-toggle
                  popup
                  expand-separator)
                  q-card
                    q-card-section
                      div(class="row")
                        div(class="col")
                          q-input(label="Internetadresse" v-model="configData.impress.internet" dense)
              q-expansion-item(label="Verantwortlicher" switch-toggle-side
                  expand-icon-toggle
                  popup
                  expand-separator)
                  q-card
                    q-card-section
                      div(class="row")
                        div(class="col")
                          q-input(label="Vorname" v-model="configData.impress.responsible.firstname" style="margin-right: 10px;" dense)
                        div(class="col")
                          q-input(label="Nachname" v-model="configData.impress.responsible.lastname" dense)
              q-expansion-item(label="Redaktion" switch-toggle-side
                  expand-icon-toggle
                  popup
                  expand-separator)
                  q-card
                    q-card-section
                      div(class="row")
                        div(class="col")
                          q-input(label="Vorname" v-model="configData.impress.editorial_staff.name.firstname" style="margin-right: 10px;" dense)
                        div(class="col")
                          q-input(label="Nachname" v-model="configData.impress.editorial_staff.name.lastname" dense)
                      div(class="row")
                        div(class="col")
                          q-input(label="Vorwahl" v-model="configData.impress.editorial_staff.phone.prefix" style="margin-right: 10px;" dense)
                        div(class="col")
                          q-input(label="Anschluss" v-model="configData.impress.editorial_staff.phone.extension" dense)
                      div(class="row")
                        div(class="col")
                          q-input(label="E-Mail-Adresse" v-model="configData.impress.editorial_staff.email" dense)
              q-expansion-item(label="Auflage" switch-toggle-side
                  expand-icon-toggle
                  popup
                  expand-separator)
                  q-card
                    q-card-section
                      div(class="row")
                        div(class="col")
                          q-input(label="Auflage" v-model="configData.impress.circulation" type="number")
            q-tab-panel(name="recurringEvents")
              q-toolbar(class="text-primary")
                q-checkbox(v-model="recurringEvents.Gottesdienste" label="Gottesdienste" @input="onRecurringEventVisibilityChanged('Gottesdienste')")
                q-checkbox(v-model="recurringEvents.Vorsonntagsschule" label="Vorsonntagsschule" @input="onRecurringEventVisibilityChanged('Vorsonntagsschule')")
                q-checkbox(v-model="recurringEvents.Sonntagsschule" label="Sonntagsschule" @input="onRecurringEventVisibilityChanged('Sonntagsschule')")
                q-checkbox(v-model="recurringEvents.Religionsunterricht" label="Religionsunterricht" @input="onRecurringEventVisibilityChanged('Religionsunterricht')")
                q-checkbox(v-model="recurringEvents.Konfirmandenunterricht" label="Konfirmandenunterricht" @input="onRecurringEventVisibilityChanged('Konfirmandenunterricht')")
                q-checkbox(v-model="recurringEvents.Jugendstunde" label="Jugendstunde" @input="onRecurringEventVisibilityChanged('Jugendstunde')")
                q-checkbox(v-model="recurringEvents.Seniorenkreis" label="Seniorenkreis" @input="onRecurringEventVisibilityChanged('Seniorenkreis')")
                q-checkbox(v-model="recurringEvents.Chorprobe" label="Chorprobe" @input="onRecurringEventVisibilityChanged('Chorprobe')")
                q-checkbox(v-model="recurringEvents.Orchesterprobe" label="Orchesterprobe" @input="onRecurringEventVisibilityChanged('Orchesterprobe')")
                q-checkbox(v-model="recurringEvents.Kaffeetrinken" label="Kaffeetrinken" @input="onRecurringEventVisibilityChanged('Kaffeetrinken')")
                q-space
                q-btn(dense flat icon="save" @click="onSave")
              div(v-for="(Event, Key) in configData.recurringEvents" :key="Key")
                q-expansion-item(v-if="Key === 'Gottesdienste' && recurringEvents.Gottesdienste" switch-toggle-side expand-icon-toggle popup expand-separator label="Gottesdienste")
                  q-card()
                    q-card-section
                      q-toolbar(class="text-primary")
                        q-toolbar-title
                          |Gottesdienste
                        q-btn(icon="add" @click="configData.recurringEvents.Gottesdienste.data.push({day:1, time: '10:00'})" dense flat round)
                    q-card-section
                      div(v-for="(Day, Index) in Event.data" :key="Index")
                        div(class="row")
                          div(class="col-1")
                            q-btn(icon="remove" @click="Event.data.splice(Index,1)" color="primary" flat round)
                          div(class="col")
                            q-select(:options="days" emit-value v-model="Day.day" map-options dense style="margin-right: 10px;")
                          div(class="col")
                            q-input(filled v-model="Day.time" dense)
                              template(v-slot:append)
                                q-icon(name="access_time" class="cursor-pointer")
                                  q-popup-proxy(transition-show="scale" transition-hide="scale")
                                    q-time(v-model="Day.time" format24h)
                                      div(class="row items-center justify-end")
                                        q-btn(v-close-popup label="Schließen" color="primary" flat)
                    q-card-section
                      q-input(label="Höhe" v-model="Event.rows" type="number" dense)
                q-expansion-item(v-if="Key === 'Vorsonntagsschule' && recurringEvents.Vorsonntagsschule" switch-toggle-side expand-icon-toggle popup expand-separator label="Vorsonntagsschule")
                  q-card()
                    q-card-section
                      q-toolbar(class="text-primary")
                        q-toolbar-title
                          |Vorsonntagsschule
                  q-card-section
                    q-select(v-model="Event.data" :options="eventOptions" dense)
                  q-card-section
                    q-input(label="Höhe" v-model="Event.rows" type="number" dense)
                q-expansion-item(v-if="Key === 'Sonntagsschule' && recurringEvents.Sonntagsschule" switch-toggle-side expand-icon-toggle popup expand-separator label="Sonntagsschule")
                  q-card()
                    q-card-section
                      q-toolbar(class="text-primary")
                        q-toolbar-title
                          |Sonntagsschule
                    q-card-section
                      q-select(v-model="Event.data" :options="eventOptions" dense)
                    q-card-section
                      q-input(label="Höhe" v-model="Event.rows" type="number" dense)
                q-expansion-item(v-if="Key === 'Religionsunterricht' && recurringEvents.Religionsunterricht" switch-toggle-side expand-icon-toggle popup expand-separator label="Religionsunterricht")
                  q-card()
                    q-card-section
                      q-toolbar(class="text-primary")
                        q-toolbar-title
                          |Religionsunterricht
                    q-card-section
                      q-select(v-model="Event.data" :options="eventOptions" dense)
                    q-card-section
                      q-input(label="Höhe" v-model="Event.rows" type="number" dense)
                q-expansion-item(v-if="Key === 'Konfirmandenunterricht' && recurringEvents.Konfirmandenunterricht" switch-toggle-side expand-icon-toggle popup expand-separator label="Konfirmandenunterricht")
                  q-card()
                    q-card-section
                      q-toolbar(class="text-primary")
                        q-toolbar-title
                          |Konfirmandenunterricht
                    q-card-section
                      q-select(v-model="Event.data" :options="eventOptions" dense)
                    q-card-section
                      q-input(label="Höhe" v-model="Event.rows" type="number" dense)
                q-expansion-item(v-if="Key === 'Jugendstunde' && recurringEvents.Jugendstunde" switch-toggle-side expand-icon-toggle popup expand-separator label="Jugendstunde")
                  q-card()
                    q-card-section
                      q-toolbar(class="text-primary")
                        q-toolbar-title
                          |Jugendstunde
                    q-card-section
                      q-select(v-model="Event.data" :options="eventOptions" dense)
                    q-card-section
                      q-input(label="Höhe" v-model="Event.rows" type="number" dense)
                q-expansion-item(v-if="Key === 'Seniorenkreis' && recurringEvents.Seniorenkreis" switch-toggle-side expand-icon-toggle popup expand-separator label="Seniorenkreis")
                  q-card()
                    q-card-section
                      q-toolbar(class="text-primary")
                        q-toolbar-title
                          |Seniorenkreis
                    q-card-section
                      q-select(v-model="Event.data" :options="eventOptions" dense)
                    q-card-section
                      q-input(label="Höhe" v-model="Event.rows" type="number" dense)
                q-expansion-item(v-if="Key === 'Chorprobe' && recurringEvents.Chorprobe" switch-toggle-side expand-icon-toggle popup expand-separator label="Chorprobe")
                  q-card()
                    q-card-section
                      q-toolbar(class="text-primary")
                        q-toolbar-title
                          |Chorprobe
                    q-card-section
                      q-select(v-model="Event.data" :options="eventOptions" dense)
                    q-card-section
                      q-input(label="Höhe" v-model="Event.rows" type="number" dense)
                q-expansion-item(v-if="Key === 'Orchesterprobe' && recurringEvents.Orchesterprobe" switch-toggle-side expand-icon-toggle popup expand-separator label="Orchesterprobe")
                  q-card()
                    q-card-section
                      q-toolbar(class="text-primary")
                        q-toolbar-title
                          |Orchesterprobe
                    q-card-section
                      q-select(v-model="Event.data" :options="eventOptions" dense)
                    q-card-section
                      q-input(label="Höhe" v-model="Event.rows" type="number" dense)
                q-expansion-item(v-if="Key === 'Kaffeetrinken' && recurringEvents.Kaffeetrinken" switch-toggle-side expand-icon-toggle popup expand-separator label="Kaffeetrinken")
                  q-card()
                    q-card-section
                      q-toolbar(class="text-primary")
                        q-toolbar-title
                          |Kaffeetrinken
                    q-card-section
                      q-select(v-model="Event.data" :options="eventOptions" dense)
                    q-card-section
                      q-input(label="Höhe" v-model="Event.rows" type="number" dense)
            q-tab-panel(name="pastors")
              q-toolbar(class="text-primary")
                q-btn(dense flat icon="add" @click="onAddPastor")
                q-space
                q-btn(dense flat icon="save" @click="onSave")
              q-list()
                q-expansion-item(
                  v-for="(Pastor, Index) in configData.pastors"
                  switch-toggle-side
                  expand-icon-toggle
                  popup
                  expand-separator
                  :key="Index")
                  template(v-slot:header)
                    q-item-section(avatar)
                      q-btn(icon="delete_outline" dense flat @click="onDeletePastorEntry(Index)")
                    q-item-section
                      |{{Pastor.name.firstname + ' ' + Pastor.name.lastname}}
                  q-card
                    q-card-section
                      div(class="row")
                        div(class="col")
                          q-input(label="Vorname" v-model="Pastor.name.firstname" style="margin-right: 10px;" dense)
                        div(class="col")
                          q-input(label="Nachname" v-model="Pastor.name.lastname" dense)
                    q-card-section
                      div(class="row")
                        div(class="col")
                          q-select(label="Amt" v-model="Pastor.ministry" :options="['Diakon','Priester','Evangelist','Hirte','Bezirksevangelist','Bezirksältester','Bischof','Apostel','Bezirksapostel','Stammapostel']")
                    q-card-section
                      div(class="text-h6")
                        q-checkbox(v-model="Pastor.phone.active")|Festnetz
                        div(v-if="Pastor.phone.active")
                          div(class="row")
                            div(class="col")
                              q-input(label="Vorwahl" v-model="Pastor.phone.prefix" style="margin-right: 10px;" dense)
                            div(class="col")
                              q-input(label="Anschluss" v-model="Pastor.phone.extension" dense)
                    q-card-section
                      div(class="text-h6")
                        q-checkbox(v-model="Pastor.mobile.active")|Mobil
                        div(v-if="Pastor.mobile.active")
                          div(class="row")
                            div(class="col")
                              q-input(label="Vorwahl" v-model="Pastor.mobile.prefix" style="margin-right: 10px;" dense)
                            div(class="col")
                              q-input(label="Anschluss" v-model="Pastor.mobile.extension" dense)
                    q-card-section
                      div(class="text-h6")
                        q-checkbox(v-model="Pastor.address.active")|Adresse
                        div(v-if="Pastor.address.active")
                          div(class="row")
                            div(class="col")
                              q-input(label="Straße" v-model="Pastor.address.street" style="margin-right: 10px;" dense)
                            div(class="col")
                              q-input(label="Hausnummer" v-model="Pastor.address.number" dense)
                          div(class="row")
                            div(class="col")
                              q-input(label="Postleitzahl" v-model="Pastor.address.zip" dense)
                            div(class="col")
                              q-input(label="Ort" v-model="Pastor.address.city" dense)
                    q-card-section
                      div(class="text-h6")|Weiteres...
                      div(class="row")
                          div(class="col")
                            q-checkbox(v-model="Pastor.email.active")|E-Mail-Adresse
                      div(v-if="Pastor.email.active")
                        div(class="row")
                          div(class="col")
                            q-input(label="E-Mail" v-model="Pastor.email.email" dense)
                      div(class="row")
                          div(class="col")
                            q-checkbox(v-model="Pastor.special.active")|Zusatz
                      div(v-if="Pastor.special.active")
                        div(class="row")
                          div(class="col")
                            q-select(dense label="Zusatz" v-model="Pastor.special.special" :options="['','Gemeindevorsteher', 'Stellvertreter des Gemeindevorstehers']")
                      div(class="row")
                        div(class="col")
                          q-input(label="Höhe" v-model="Pastor.rows" type="number" dense)
</template>

<script>

const lmodFS = require('fs')
const lmodJoinPath = require('path').join

export default {
  name: 'ContentConfiguration',
  watch: {
    dialogNewType (NewValue, OldValue) {
      if (NewValue === 'fromTemplate') {
        if (this.dialog.type === 'district') {
          this.dialog.newTemplateOptions = this.$help.loadConfig('districts')
        } else {
          this.dialog.newTemplateOptions = this.$help.loadConfig(this.chosenDistrict)
        }
      }
    }
  },
  data: () => ({
    dialog: {
      type: 'district',
      visible: false,
      newName: '',
      newTemplateOptions: [],
      template: ''
    },
    dialogNewType: 'empty',
    recurringEvents: {
      Gottesdienste: false,
      Vorsonntagsschule: false,
      Sonntagsschule: false,
      Religionsunterricht: false,
      Konfirmandenunterricht: false,
      Jugendstunde: false,
      Seniorenkreis: false,
      Chorprobe: false,
      Orchesterprobe: false,
      Kaffeetrinken: false
    },
    districts: null,
    eventOptions: [],
    chosenDistrict: null,
    congregations: [],
    chosenCongregation: null,
    editMode: null,
    configData: null,
    tab: null,
    events: ['Gottesdienste', 'Vorsonntagsschule', 'Sonntagsschule', 'Seniorenkreis', 'Chorprobe', 'Orchesterprobe', 'Konfirmandenunterricht', 'Religionsunterricht', 'Jugendstunde', 'Kaffeetrinken'],
    days: [{ label: 'Montag', value: 1 }, { label: 'Dienstag', value: 2 }, { label: 'Mittwoch', value: 3 }, { label: 'Donnerstag', value: 4 }, { label: 'Freitag', value: 5 }, { label: 'Samstag', value: 6 }, { label: 'Sonntag', value: 7 }]
  }),
  mounted () {
    this.districts = this.$help.loadConfig('districts')
    this.eventOptions = this.$help.loadConfig('eventOptions')
  },
  methods: {
    onNewData () {
      switch (this.dialog.type) {
        case 'district': {
          if (this.dialogNewType === 'empty') {
            lmodFS.mkdirSync(lmodJoinPath(process.cwd(), 'data', 'congregations', this.dialog.newName))
            lmodFS.copyFileSync(lmodJoinPath(process.cwd(), 'data', 'templates', 'District_settings.json'), lmodJoinPath(process.cwd(), 'data', 'settings', this.dialog.newName + '_settings.json'))
          } else {
            lmodFS.copyFileSync(lmodJoinPath(process.cwd(), 'data', 'settings', this.dialog.template + '_settings.json'), lmodJoinPath(process.cwd(), 'data', 'settings', this.dialog.newName + '_settings.json'))
          }
          lmodFS.copyFileSync(lmodJoinPath(process.cwd(), 'data', 'templates', 'District.json'), lmodJoinPath(process.cwd(), 'data', 'settings', this.dialog.newName + '.json'))
          const larrDistricts = this.$help.loadConfig('districts')
          larrDistricts.push(this.dialog.newName)
          this.$help.saveJson(larrDistricts, this.$help.getPath('c', 'districts'))
          this.districts.push(this.dialog.newName)
        }
          break
        case 'congregation': {
          if (this.dialogNewType === 'empty') {
            lmodFS.copyFileSync(lmodJoinPath(process.cwd(), 'data', 'templates', 'Congregation.json'), lmodJoinPath(process.cwd(), 'data', 'congregations', this.chosenDistrict, this.dialog.newName + '.json'))
          } else {
            lmodFS.copyFileSync(lmodJoinPath(process.cwd(), 'data', 'congregations', this.chosenDistrict, this.dialog.template + '.json'), lmodJoinPath(process.cwd(), 'data', 'congregations', this.chosenDistrict, this.dialog.newName + '.json'))
          }
          const larrCongregations = this.$help.loadConfig(this.chosenDistrict)
          larrCongregations.push(this.dialog.newName)
          this.$help.saveJson(larrCongregations, this.$help.getPath('c', this.chosenDistrict))
          this.congregations.push(this.dialog.newName)
        }
          break
      }
    },
    onRecurringEventVisibilityChanged (Key) {
      if (!Object.keys(this.configData.recurringEvents).includes(Key)) {
        this.configData.recurringEvents[Key] = {}
        this.configData.recurringEvents[Key].rows = 1
        if (Key === 'Gottesdienste') {
          this.configData.recurringEvents[Key].data = []
        } else {
          this.configData.recurringEvents[Key].data = ''
        }
      }
    },
    onSave () {
      Object.keys(this.recurringEvents).forEach(lstrEvent => {
        if (!this.recurringEvents[lstrEvent]) {
          if (lstrEvent === 'Gottesdienste') {
            this.configData.recurringEvents[lstrEvent].data = []
          } else {
            this.configData.recurringEvents[lstrEvent].data = ''
          }

          this.configData.recurringEvents[lstrEvent].rows = 0
        }
      })
      this.$help.saveJson(this.configData, this.$help.getPath('congregation', this.chosenDistrict, this.chosenCongregation))
    },
    onAddPastor () {
      this.configData.pastors.push({
        name: {
          firstname: 'Vorname',
          lastname: 'Nachname'
        },
        ministry: 'Priester',
        phone: {
          prefix: '',
          extension: ''
        },
        mobile: { prefix: '', extension: '' },
        address: {
          street: '',
          number: '',
          zip: '',
          city: ''
        },
        email: '',
        special: 'Gemeindevorsteher',
        rows: 2
      })
    },
    onDeletePastorEntry (DeleteIndex) {
      this.configData.pastors.splice(DeleteIndex, 1)
    },
    onDistrictSelected (SelectedDistrict) {
      this.congregations = this.$help.loadConfig(SelectedDistrict)
      this.congregations.push('Bezirk')
    },
    onCongregationSelected (SelectedCongregation) {
      if (SelectedCongregation === 'Bezirk') {
        this.editMode = 'District'
        this.configData = this.$help.loadConfig(this.chosenDistrict + '_settings')
      } else {
        this.editMode = 'Congregation'
        this.configData = this.$help.loadCongregationData(this.chosenDistrict, this.chosenCongregation)
        Object.keys(this.configData.recurringEvents).forEach(lstrEvent => {
          if (this.configData.recurringEvents[lstrEvent].rows !== 0) {
            this.recurringEvents[lstrEvent] = true
          }
        })
        this.lastEvents = this.selectedEvents
      }
    }
  }
}
</script>
