<template lang="pug">
  q-page()
    |{{bibleBooks}}
    q-dialog(v-model="dialog" persistent)
      q-card(style="min-width: 350px")
        q-card-section
          div(class="text-h6")|Name des neuen Inhalts
        q-card-section(class="q-pt-none")
          q-input(dense v-model="content.name" autofocus)
        q-card-actions(align="right" class="text-primary")
          q-btn(flat label="Abbruch" v-close-popup)
          q-btn(flat label="Einfügen" v-close-popup @click="onAddNewContent")
    q-expansion-item(
      v-model="expansion.congregationSelection"
      label="Auswahl"
      switch-toggle-side
      expand-icon-toggle
      popup
      expand-separator)
      q-card
        q-card-section
          div(class="row")
            div(class="col")
              q-select(label="Bezirk" v-model="chosenDistrict" :options="districts" @input="onDistrictSelected" dense)
        q-card-section(v-if="chosenDistrict !== null")
          div(class="row")
            div(class="col")
              q-select(label="Jahr" :options="years" v-model="chosenYear" style="margin-right: 10px;" @input="getMonths")
            div(class="col" v-if="chosenYear !== null")
              q-select(label="Monat" :options="months" v-model="chosenMonth")
        q-card-section(v-if="chosenMonth !== null")
          div(class="row")
            div(class="col")
              q-select(label="Gemeinde" :options="congregations" v-model="chosenCongregation" @input="getContents")
    q-card(v-if="chosenCongregation !== null")
      q-card-section
        q-toolbar(class="text-primary")
          |Inhalt von:&nbsp;
          q-breadcrumbs
            template(v-slot:separator)
              q-icon(size="1.2em" name="arrow_forward")
            q-breadcrumbs-el(:label="chosenDistrict")
            q-breadcrumbs-el(:label="chosenYear")
            q-breadcrumbs-el(:label="chosenMonth")
            q-breadcrumbs-el(:label="chosenCongregation")
          q-space
          q-btn(dense flat icon="add" @click="dialog = true")
      q-card-section(v-if="contents !== null")
        q-list()
          q-expansion-item(label="Verfügbare Inhalte"
            v-model="expansion.contentSelection"
            switch-toggle-side
            expand-icon-toggle
            popup
            expand-separator)
            q-card
              q-card-section
                div(class="row" v-for="(Content, Index) in contents" :key="Index")
                  div(class="col-1")
                    q-btn(label="Löschen" dense flat @click="onDeleteContent(Index)")
                  div(class="col-1")
                    q-btn(label="Verwalten" dense flat @click="onChooseContent(Index)")
                  div(class="col")
                    |{{Content}}
          q-expansion-item(
            v-model="expansion.content"
            v-if="content.name !== ''"
            switch-toggle-side
            expand-icon-toggle
            popup
            expand-separator)
            template(v-slot:header)
              q-item-section
                |Verwaltung des Inhalts:&nbsp;{{content.name}}
              q-item-section(side)
                q-btn(dense flat icon="save" @click="onSaveContentData")
            q-card
              q-card-section
                |{{content}} - {{contentImages}}
              q-card-section
                div(class="text-h5")|{{content.name}}
                q-select(label="Typ" :options="typeOptions" v-model="content.type")
              q-card-section(v-if="content.type === 'Artikel'")
                q-card
                  q-card-section
                    q-input(label="Überschrift" v-model="content.headline" dense)
                  q-card-section
                    q-editor(v-model="content.text" :toolbar="[['bold', 'italic', 'underline']]")
                  q-card-section
                    q-expansion-item(
                      v-model="expansion.images"
                      switch-toggle-side
                      expand-icon-toggle
                      popup
                      expand-separato)
                      template(v-slot:header)
                        q-item-section
                          |Bilder ({{contentImages.length}})
                        q-item-section(side)
                          q-btn(dense flat icon="add" @click="onAddArticleImage")
                      q-card
                        q-card-section(v-if="contentImages.length > 0")
                          q-card(v-for="(Image, Index) in contentImages" :key="Index")
                            q-card-section
                              q-input(label="Bildunterschrift" v-model="Image.text")
                              q-input(label="Fotograf" v-model="Image.copyright")
                            q-card-section
                              div(class="row")
                                div(class="col-8")
                                  q-file(v-model="Image.fileName" @input="onImageSelected(Image.fileName, Index)")
                                div(class="col-4" v-if="Image.fileName !== undefined")
                                  q-img(:src="Image.fileName" spinner-color="white" style="height: 150px; max-width: 150px")
                                    template(v-slot:error)
                                      div(class="absolute-full flex flex-center bg-negative text-white")
                                        |Bild konnte nicht geladen werden
                                    div(class="absolute-bottom text-subtitle1 text-center")|Caption
                            q-card-actions
                              q-btn(label="Bild löschen" flat dense @click="onDeleteImage(Index)")
              //-- *********************************** Textwörter
              q-card-section(v-if="content.type === 'Textwörter'")
                |{{content}} - {{textWords}}
                q-card
                  q-card-section
                    div(class="text-h6")|Beschreibender Text
                    q-editor(v-model="content.text" :toolbar="[['bold', 'italic', 'underline']]")
                  q-card-section
                    div(class="text-h6")|Textwörter
                    q-expansion-item(
                      v-model="expansion.textWords"
                      switch-toggle-side
                      expand-icon-toggle
                      popup
                      expand-separato)
                      template(v-slot:header)
                        q-item-section
                          |Textstellen ({{textWords.length}})
                        q-item-section(side)
                          q-btn(dense flat icon="add" @click="onAddTextword")
                      q-card
                        q-card-section(v-if="textWords.length > 0")
                           q-expansion-item(
                            v-for="(Textword, Index) in textWords" :key="Index"
                            switch-toggle-side
                            expand-icon-toggle
                            popup
                            expand-separator)
                            template(v-slot:header)
                              q-item-section
                                |Textwort vom {{Textword.date}} - {{Textword.book}} {{Textword.chapter}}, {{Textword.verseFrom}}
                              q-item-section(side)
                                q-btn(dense flat icon="remove" @click="onAddTextword")
                            q-card()
                              q-card-section
                                q-input(filled v-model="Textword.date")
                                  template(v-slot:append)
                                    q-icon(name="event" class="cursor-pointer")
                                      q-popup-proxy(ref="qDateProxy" transition-show="scale" transition-hide="scale")
                                        q-date(v-model="Textword.date"  mask="dddd, DD.MM.YYYY" )
                                          div(class="row items-center justify-end")
                                            q-btn(v-close-popup label="Close" color="primary" flat)
                              q-card-section
                                div(class="row")
                                  div(class="col-1")
                                    q-select(:options="Object.keys(bibleBooks)" v-model="Textword.book" @input="onBibleBookSelected(Textword.book)" label="Buch")
                                  div(class="col-1" v-if="Textword.book !== null && Textword.book !== ''")
                                    q-select(:options="chapterOptions" v-model="Textword.chapter" label="Kapitel" @input="onChapterSelected(Textword.book, Textword.chapter)")
                                  div(class="col-1" v-if="Textword.chapter !== null && Textword.chapter !== ''")
                                    q-select(:options="versesOptions" v-model="Textword.verseFrom" label="Vers" @input="onVerseFromSelected(Textword.book, Textword.chapter,Textword.verseFrom, Index)")
                                  div(class="col-1"  v-if="Textword.verseFrom !== undefined")
                                    q-select(:options="versesOptions" v-model="Textword.verseTo" label="Vers bis" @input="onVerseToSelected(Textword.book, Textword.chapter,Textword.verseFrom,Textword.verseTo, Index)")
                                  div(class="col" v-if="Textword.text !== undefined")
                                    |{{Textword.text}}
              //-- Bildergallerie
              q-card-section(v-if="content.type === 'Bildergallerie'")
                q-card
                  q-card-section
              q-card-section(v-if="content.type === 'Wort zum Monat'")
                q-card
                  q-card-section
                    q-file( dense
                      v-model="content.image"
                      label="Bild"
                      accept=".jpeg, .jpg, .png"
                      @rejected="onReject"
                      clearable )
                      template(v-slot:prepend)
                        q-icon(name="attach_file")
                  q-card-section
                    q-input(label="Überschrift" v-model="content.headline" dense)
                  q-card-section
                    q-input(label="Ansprache" v-model="content.address" dense)
                  q-card-section
                    q-input(label="Author" v-model="content.author" dense)
                  q-card-section
                    q-input(label="Arbeitsbereich" v-model="content.area" dense)
                  q-card-section
                    q-editor(v-model="content.text" :toolbar="[['bold', 'italic', 'underline']]")
</template>

<script>
const { readdirSync, statSync, existsSync, mkdirSync, writeFileSync, copyFileSync, rmdirSync } = require('fs')
const { join } = require('path')
// import { remote } from 'electron'

export default {
  name: 'appConfiguration',
  watch: {
  },
  data: () => ({
    expansion: { congregationSelection: true, content: true, contentSelection: true, images: false, textWords: true },
    districts: null,
    chosenDistrict: 'Hamburg-Süd',
    congregations: ['Buxtehude', 'Bezirk'],
    configuration: null,
    chosenCongregation: null,
    years: [],
    months: [],
    chosenYear: '2020',
    chosenMonth: '09',
    appConfig: null,
    contents: null,
    content: {
      name: ''
    },
    contentImages: [],
    textWords: [],
    dialog: false,
    typeOptions: [],
    bibleBooks: {},
    chapterOptions: [],
    versesOptions: []
  }),
  mounted () {
    this.$store.commit('app/setModule', 'Verwaltung des Inhalts')
    this.appConfig = this.$help.loadConfig('settings')
    this.districts = this.$help.loadConfig('districts')
    if (existsSync(this.appConfig.path)) {
      this.years = this.getFoldersInDir(this.appConfig.path)
    }
    this.bibleBooks = this.$help.loadConfig('bible')
  },
  methods: {
    onVerseToSelected (Book, Chapter, VerseFrom, VerseTo, Index) {
      this.textWords[Index].text = ''
      this.textWords[Index].text = this.$help.getVersesContent(Book, Chapter, VerseFrom, VerseTo)
    },
    onVerseFromSelected (Book, Chapter, VerseFrom, Index) {
      this.textWords[Index].text = ''
      this.textWords[Index].text = this.$help.getVersesContent(Book, Chapter, VerseFrom)
    },
    onChapterSelected (Book, Chapter) {
      const lintVerses = this.$help.getVersesCount(Book, Chapter)
      this.versesOptions = []
      for (let lintCounter = 1; lintCounter <= lintVerses; lintCounter++) {
        this.versesOptions.push(lintCounter)
      }
    },
    onBibleBookSelected (Book) {
      this.chapterOptions = []
      for (let lintCounter = 1; lintCounter <= this.bibleBooks[Book]; lintCounter++) {
        this.chapterOptions.push(lintCounter)
      }
    },
    onImageSelected (ImageData, Index) {
      this.contentImages[Index].fileName = ImageData.name
      this.contentImages[Index].path = ImageData.path
    },
    onDeleteContent (Index) {
      const lstrPath = join(process.cwd(), 'data', 'test', this.chosenCongregation, this.contents[Index])
      this.contents.splice(Index, 1)
      rmdirSync(lstrPath, { recursive: true })
    },
    onDeleteImage (Index) {
      this.contentImages.splice(Index, 1)
    },
    onAddTextword () {
      this.textWords.push({ date: '', book: '', chapter: '', from: '', to: '' })
    },
    onAddArticleImage () {
      this.contentImages.push({ copyright: '', text: '', file: '', new: true })
      this.expansion.images = true
    },
    onReject () {
      this.$q.notify({
        type: 'negative',
        message: 'Es dürfen nur Bilder vom Typ JPG, JPEG oder PNG ausgewählt werden'
      })
    },
    onSaveContentData () {
      const lstrPath = join(process.cwd(), 'data', 'test', this.chosenCongregation, this.content.name)
      const lobjContent = this.content
      if (this.contentImages.length > 0) {
        lobjContent.images = []
        this.contentImages.forEach((lobjImage, lintIndex) => {
          const lstrNewFileName = lintIndex.toString() + lobjImage.fileName.substring(lobjImage.fileName.indexOf('.'))
          copyFileSync(lobjImage.path, join(lstrPath, lstrNewFileName))
          lobjContent.images.push({ copyright: lobjImage.copyright, text: lobjImage.text, fileName: join(lstrPath, lstrNewFileName) })
        })
      }

      this.$help.saveJson(lobjContent, join(lstrPath, 'settings.json'))

      this.$q.notify({
        type: 'primary',
        message: 'Daten gespeichert'
      })
    },
    toggleExpansions (CongregationSelection, ContentSelection, Content) {
      this.expansion.congregationSelection = CongregationSelection
      this.expansion.contentSelection = ContentSelection
      this.expansion.content = Content
    },
    onChooseContent (Index) {
      this.toggleExpansions(false, false, true)
      const lstrPath = join(process.cwd(), 'data', 'test', this.chosenCongregation, this.contents[Index], 'settings.json')
      this.content = this.$help.loadJson(lstrPath)
      if (this.content.images !== undefined) {
        this.contentImages = this.content.images
        delete this.content.images
      }
    },
    onAddNewContent () {
      const lstrPath = join(process.cwd(), 'data', 'test', this.chosenCongregation, this.content.name)
      if (!existsSync(lstrPath)) {
        mkdirSync(lstrPath)
      }
      writeFileSync(join(lstrPath, 'settings.json'), JSON.stringify({ name: this.content.name }), 'utf-8')
    },
    getContents () {
      this.toggleExpansions(false, true, false)
      this.contents = this.getFoldersInDir(join(process.cwd(), 'data', 'test', this.chosenCongregation))
      if (this.chosenCongregation !== 'Bezirk') {
        this.typeOptions = ['Artikel', 'Bildergallerie']
      } else {
        this.typeOptions = ['Artikel', 'Wort zum Monat', 'Textwörter', 'Bildergallerie']
      }
    },
    getContent () {
    },
    getMonths () {
      this.months = this.getFoldersInDir(join(this.appConfig.path, this.chosenYear))
    },
    getFoldersInDir (Path) {
      let larrDirs = readdirSync(Path)
      larrDirs = larrDirs.filter(f => statSync(join(Path, f)).isDirectory())
      return larrDirs
    },

    onDistrictSelected () {
      this.congregations = this.$help.loadConfig(this.chosenDistrict)
      this.congregations.push('Bezirk')
      this.configuration = this.$help.loadConfig(this.chosenDistrict + '_settings')
    }
  }
}
</script>
