<template lang="pug">
  div
    |Hallo
</template>

<script>

// const lmodFS = require('fs')
// const lmodJoinPath = require('path').join

export default {
  name: 'ContentConfiguration',
  watch: {
  },
  data: () => ({
  }),
  mounted () {
  },
  methods: {

  }
}
</script>
