<template lang="pug">
  div
    gcompHeader(
      :flow="headerFlow"
      @onDistrict="selection"
      )
    q-card(bordered)
      q-card-section
        div(class="text-h6")|Neue Ausgabe anlegen
      q-separator(inset)
      q-card-section
        div|Pfad zu den GBs: {{config.path}}
        div|Pfad erreichbar: {{pathOK}}
      q-separator(inset)
      span(v-if="pathOK")
        span(v-if="selectedDistrict !== null")
          q-card-section
            div(class="row")
              div(class="col-1")
                |Neue Ausgabe:
              inplace(v-model="Month" :options="availableMonths" type="select")
              div(class="col-1")
                |&nbsp;/&nbsp;
              inplace(v-model="Year" :options="availableYears" type="select")
          q-separator(inset)
          q-card-section
            q-checkbox(v-model="selectCongregations" label="Gemeinden manuell wählen")
          q-card-section(v-if="selectCongregations")
            b|Für welche Gemeinden soll eine neue Ausgabe erstellt werden:
            div(v-for="(Congregation, Index) in availableCongregations" :key="Index")
              ul
                li
                  q-checkbox(:label="Congregation.congregation" v-model="Congregation.use")
          q-card-section(v-if="!selectCongregations")
            b|Für die folgenden Gemeinden wird eine neue Ausgabe angelegt
            ul
              li(v-for="(Congregation, Index) in congregations" :key="Index")
                  |{{Congregation}}
          q-separator
          q-card-section
            q-checkbox(label="Sollen nur die Ordner erstellt werden?" v-model="createFoldersOnly")
          q-separator
          q-card-section
            b|Wie lautet das Zitat auf der Titelseite
            q-input(label="Zitat" v-model="Cite")
            q-input(label="Herkunft" v-model="CiteLocation")
          q-separator(inset v-if="Cite !== null && CiteLocation !== null && selectedDistrict !== null")
          q-card-section(v-if="Cite !== null && CiteLocation !== null && selectedDistrict !== null")
            q-btn(label="Erstellen"  @click="createNewEdition" class="full-width")
        span(v-if="selectedDistrict === null")
          q-card-section
            b(class="text-negative")|Es muss ein Bezirk ausgewählt werden
      q-separator(inset)

      q-card-section(v-if="!pathOK")
        div|Der Pfad
          b|{{config.path}}
          |ist nicht verfügbar
          |Sollte es sich um einen Pfad auf einem externen Speichermedium handeln, so schließe dieses doch an und klicke auf "Erneut prüfen"
        br
        q-btn(label="Erneut prüfen" @click="checkPath(config.path)" class="full-width")
</template>

<script>
const lmodPath = require('path')
const lmodFS = require('fs')

import gcompHeader from './../components/header'

import inplace from './../components/inPlace'

export default {
  name: 'PageIndex',
  components: { inplace, gcompHeader },
  data: () => ({
    headerFlow: [
      { when: 'mount', action: 'show', what: 'district' },
      { when: 'mount', action: 'load', what: 'district', for: 'district', from: 'file', source: 'districtSettings' },
      { when: 'district', action: 'load', what: 'congregations', for: 'congregation', from: 'file', source: 'congergationSettings' },
      { when: 'district', action: 'emit' }

    ],
    selectedDistrict: null,
    inPlace: { month: false, year: false, monthClass: 'col-1', yearClass: 'col-1' },
    config: null,
    pathOK: false,
    Month: 0,
    Year: 0,
    Cite: null,
    CiteLocation: null,
    availableMonths: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    availableYears: [],
    selectCongregations: false,
    availableCongregations: [],
    congregations: [],
    createFoldersOnly: false,
    congregationVisible: false,
    districts: []
  }),
  mounted () {
    this.config = this.$help.loadConfig('settings')
    this.districts = this.$help.loadConfig('districts')
    this.checkPath(this.config.path)
    this.createYearEntries()
  },
  watch: {
  },
  methods: {
    selection (Value) {
      this.selectedDistrict = Value
    },
    checkPath (Path) {
      if (lmodFS.existsSync(Path)) {
        this.pathOK = true
        this.getNewMonth()
      }
    },
    createNewEdition () {
      let lstrMessage = 'Die Erstellung einer neuen Ausgabe im Bezirk <b>' + this.selectionHeader.district.value + '</b> für die '
      let lstrCongregationText = 'Gemeinde'
      if (this.selectCongregations) {
        if (this.availableCongregations.length > 1) {
          lstrCongregationText = 'Gemeinden'
        }
      } else {
        if (this.congregations.length > 1) {
          lstrCongregationText = 'Gemeinden'
        }
      }
      lstrMessage += lstrCongregationText + ' <b>'
      if (this.selectCongregations) {
        this.availableCongregations.forEach((lobjCongregation, lintIndex) => {
          if (lobjCongregation.use) {
            lstrMessage += lobjCongregation.congregation
            if (lintIndex !== 0) {
              lstrMessage += ', '
            }
          }
        })
      } else {
        this.congregations.forEach((lstrCongregation, lintIndex) => {
          lstrMessage += lstrCongregation
          if (lintIndex !== 0) {
            lstrMessage += ', '
          }
        })
      }
      if (lstrMessage.substring(lstrMessage.length - 3, lstrMessage.length - 2) === ',') {
        lstrMessage = lstrMessage.substring(0, lstrMessage.length - 2)
      }
      lstrMessage += '</b> für den Monat <b>' + this.Month + '</b> im Jahr <b>' + this.Year + '</b> wird jetzt gestartet'
      this.$q.dialog({
        title: 'Neue Ausgabe erstellen',
        message: lstrMessage,
        html: true,
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.startCreating()
      })
    },
    startCreating () {
      let larrCongregations = []
      if (this.selectCongregations) {
        this.availableCongregations.forEach((lobjCongregation, lintIndex) => {
          if (lobjCongregation.use) {
            larrCongregations.push(lobjCongregation.congregation)
          }
        })
      } else {
        larrCongregations = this.congregations
      }
      this.prepareNewEditions(this.$store.state.app.selectionHeader.district.value, this.Year, this.Month, larrCongregations)
      this.newEdition()
    },
    prepareNewEditions (District, Year, Month, Congregations) {
      const lstrPath = lmodPath.join(this.config.path, District, Year.toString(), this.$help.twoDigitsMonth(this.Month))
      const larrPaths = []
      larrPaths.push(lmodPath.join(this.config.path, District, Year.toString()))
      larrPaths.push(lstrPath)
      this.config.basicPaths.forEach(lmixValue => {
        larrPaths.push(lmodPath.join(lstrPath, lmixValue))
      })
      Congregations.forEach(lobjCongregation => {
        larrPaths.push(lmodPath.join(lstrPath, 'Ausgaben', 'Final', lobjCongregation))
        larrPaths.push(lmodPath.join(lstrPath, lobjCongregation))
      })
      larrPaths.forEach(lstrPath => {
        // this.$help.checkCreateDirectory(lstrPath)
      })
    },
    newEdition () {
      const larrCongregations = this.$help.loadConfig(this.District)
      this.prepareNewEditions(this.Year, this.Month, larrCongregations)

      larrCongregations.forEach(lstrCongregation => {
        const lobjCongregationData = this.$help.loadCongregationData(this.District, lstrCongregation)
        // this.$help.checkCreateDirectory(lmodPath.join(lstrOutputPath, lobjCongregationData.folder, 'Ausgabe'))
        // this.$help.checkCreateDirectory(lmodPath.join(lstrOutputPath, lobjCongregationData.folder, 'Inhalt'))
        this.$doc.createNewEdition(this.Year, this.Month, this.District, lobjCongregationData.name, this.Cite, this.CiteLocation)
      })
    },
    createYearEntries () {
      for (let lintYear = new Date().getFullYear() - 2; lintYear <= new Date().getFullYear() + 3; lintYear++) {
        this.availableYears.push(lintYear)
      }
    },

    getNewMonth () {
      if (this.selectionHeader.district.value !== null) {
        let lintYear = 0
        let lintMonth = 0
        const lstrPath = lmodPath.join(this.config.path, this.selectionHeader.district.value)
        let larrFiles = lmodFS.readdirSync(lstrPath)

        larrFiles.forEach(lstrFile => {
          const lintFile = parseInt(lstrFile)
          if (lintYear === 0) {
            lintYear = lintFile
          }
          if (lintYear < lintFile) {
            lintYear = lintFile
          }
        })
        larrFiles = lmodFS.readdirSync(lmodPath.join(lstrPath, lintYear.toString()))
        larrFiles.forEach((lstrFile, lintIndex) => {
          if (isNaN(parseInt(lstrFile))) {
            larrFiles.splice(lintIndex, 1)
          }
        })

        if (larrFiles.length === 12) {
          lintYear++
          lintMonth = 1
        } else {
          larrFiles.forEach(lstrFile => {
            const lintFile = parseInt(lstrFile)
            if (lintMonth === 0) {
              lintMonth = lintFile
            }
            if (lintMonth < lintFile) {
              lintMonth = lintFile
            }
          })
          lintMonth++
        }
        this.Year = lintYear
        this.Month = lintMonth
      }
    }
  }
}
</script>
