s<template lang="pug">
  q-page()
    q-btn(label="Drück mich" @click="getWebpage")
</template>

<script>

const lmodPath = require('path')

export default {
  name: 'PageIndex',
  data: () => ({
    model: null
  }),
  mounted () {
  },
  methods: {
    async getWebpage () {
      const response = await fetch('https://www.bibleserver.com/LUT/1.Mose1', { mode: 'no-cors' })
      // console.log(response)
      const text = await response.text()
      const verses = text.split('verse-number__group')
      console.log('Anzahl Verse: ' + (verses.length - 1))
      let lstrTest = verses[1]
      lstrTest = lstrTest.substring(lstrTest.indexOf('--hover">') + 9)
      lstrTest = lstrTest.substring(0, lstrTest.indexOf('</span>'))
      console.log(lstrTest)
      /* this.$axios('http://www.wikipedia.de', {
        method: 'HEAD',
        mode: 'no-cors',
        headers: {
          'Access-Control-Allow-Origin': '*',
          Accept: 'application/json',
          'Content-Type': 'application/json'
        },
        withCredentials: true,
        credentials: 'same-origin',
        crossdomain: true
      }).then((response) => {
        console.log(response)
      }).catch((e) => {
        console.log(e)
      }) */

      /* fetch('http://www.wikipedia.de', { mode: 'no-cors' })
        .then(
          function (response) {
            if (response.status !== 200) {
              console.log('Looks like there was a problem. Status Code: ' + response.status)
              return
            }

            // Examine the text in the response
            console.log(response)
          }
        )
        .catch(function (err) {
          console.log('Fetch Error :-S', err)
        }) */
    },
    createNewEdition () {
      this.$content.addNewPage(lmodPath.join(process.cwd(), 'data', 'templates', 'GB.sla'))
    },
    test () {
      console.log(this.model)
    }
  }
}
</script>
