<template lang="pug">
  q-page()
    q-card
      q-card-section
        q-btn(label="PDF" @click="onDruck")
        //-div(class="row")
          div(class="col")
            |{{appConfig}}
            q-select(label="Bezirk" v-model="chosenDistrict" :options="districts" @input="onDistrictSelected" dense)
      //-q-card-section(v-if="chosenDistrict !== null")
        div(class="row")
          div(class="col")
            q-select(label="Jahr" :options="years" v-model="chosenYear" style="margin-right: 10px;" @input="getMonths")
          div(class="col" v-if="chosenYear !== null")
            q-select(label="Monat" :options="months" v-model="chosenMonth")
    //-q-card()
      q-card-section
          div(class="text-h5")|Durchführen für
          div(class="row" v-for="(Congregation, Index) in congregations" :key="Index")
            div(clas="col")
              q-checkbox(v-model="chosenCongregations" :val="Congregation" :label="Congregation")
      q-card-section
        q-btn(label="Drucken" v-if="chosenCongregations.length > 0" @click="onPrint")
</template>

<script>
const { join } = require('path')
const { execFile } = require('child_process')
const { readdirSync, statSync, renameSync } = require('fs')
const { PythonShell } = require('python-shell')
export default {
  name: 'appConfiguration',
  watch: {
  },
  data: () => ({
    districts: null,
    chosenDistrict: null,
    congregations: null,
    configuration: null,
    chosenCongregations: null,
    years: [],
    months: [],
    chosenYear: null,
    chosenMonth: null
  }),
  mounted () {
    this.$store.commit('app/setModule', 'Druck')
    // this.appConfig = this.$help.loadConfig('settings')
    // this.districts = this.$help.loadConfig('districts')
    // this.years = this.getFoldersInDir(this.appConfig.path)
  },
  methods: {
    printDocs (Path) {
      execFile(this.appConfig.scribusPath, [Path + '-ns -py GBPrint.py'], (error, stdout, stderr) => {
        if (error) {
          throw error
        }
      })
    },
    onPrint () {
      const lstrPath = join(this.appConfig.path, this.chosenYear, this.chosenMonth)
      this.congregations.forEach(lstrCongregation => {
        const lobjCongregation = this.$help.loadCongregationData(this.chosenDistrict, lstrCongregation)
        this.printDocs(join(lstrPath, lobjCongregation.folder, 'Ausgabe', 'GB.sla'))
        this.printDocs(join(lstrPath, lobjCongregation.folder, 'Ausgabe', 'GB_sw.sla'))
        renameSync(join(lstrPath, lobjCongregation.folder, 'Ausgabe', 'GB.pdf', join(lstrPath, 'Ausgaben', 'Final', lobjCongregation.folder, this.chosenYear + '-' + this.chosenMonth + '_Digital.pdf')))
        renameSync(join(lstrPath, lobjCongregation.folder, 'Ausgabe', 'GB_sw.pdf', join(lstrPath, 'Ausgaben', 'Final', lobjCongregation.folder, this.chosenYear + '-' + this.chosenMonth + '_Druck_roh.pdf')))
      })
    },
    onDruck () {
      const options = {
        mode: 'text',
        pythonPath: 'python',
        pythonOptions: ['-u'], // get print results in real-time
        scriptPath: this.$help.getPath('py'),
        args: ['C:\\Users\\ckoeste1\\source\\repos\\P\\N\\GB\\data\\2020-10_Digital_copy.pdf', 'C:\\Users\\ckoeste1\\source\\repos\\P\\N\\GB\\data\\2020-10_Digital_new.pdf']
      }

      PythonShell.run('booklet.py', options, function (err, results) {
        if (err) throw err
        // results is an array consisting of messages collected during execution
        console.log('results: %j', results)
      })
    },
    getPageNum (Congregation, Year, Month) {},
    getMonths () {
      this.months = this.getFoldersInDir(join(this.appConfig.path, this.chosenYear))
    },
    onDistrictSelected () {
      this.congregations = this.$help.loadConfig(this.chosenDistrict)
      this.receivers = this.congregations
      this.configuration = this.$help.loadConfig(this.chosenDistrict + '_settings').sendOptions
    },
    getFoldersInDir (Path) {
      let larrDirs = readdirSync(Path)
      larrDirs = larrDirs.filter(f => statSync(join(Path, f)).isDirectory())
      return larrDirs
    }
  }
}
</script>
