<template lang="pug">
  q-page()
    q-card
      q-card-section
        div(class="row")
          div(class="col")
            |{{appConfig}}
            q-select(label="Bezirk" v-model="chosenDistrict" :options="districts" @input="onDistrictSelected" dense)
      q-card-section(v-if="chosenDistrict !== null")
        div(class="row")
          div(class="col")
            q-select(label="Jahr" :options="years" v-model="chosenYear" style="margin-right: 10px;" @input="getMonths")
          div(class="col" v-if="chosenYear !== null")
            q-select(label="Monat" :options="months" v-model="chosenMonth")
    q-card(v-if="configuration !== null && this.chosenMonth !== null")
      q-card-section
        q-list()
          q-expansion-item(
            v-for="(Congregation, Index) in congregations" :key="Index"
            :label="Congregation" switch-toggle-side
            expand-icon-toggle
            popup
            expand-separator)
            q-card
              q-card-section
                div(class="row text-h6")|E-Mail-Empfänger
                div(class="row" v-for="(Receiver, Index) in configuration.congregations[Congregation].receivers")
                  div(class="col")|Vorname: {{Receiver.firstname}}
                  div(class="col")|Nachname: {{Receiver.lastname}}
                  div(class="col")|E-Mail: {{Receiver.email}}
                div(class="row" v-for="(Receiver, Index) in configuration.congregations[Congregation].receivers")
                  div(class="col")|Geschlecht: {{translate(Receiver.sex)}}
                  div(class="col")|Pflicht: {{translate(Receiver.mandatory)}}
                div(class="row text-h6")|Adressen
                div(class="row" v-for="(Link, Index) in configuration.congregations[Congregation].links" :key="Index")
                  div(class="col")
                    |{{Index}} -
                    a(:href="Link")|{{Link}}
      q-card-section
        q-expansion-item(label="Texte" switch-toggle-side
            expand-icon-toggle
            popup
            expand-separator)
          div(class="text-h5")|Haupttext
          q-editor(
            v-model="configuration.misc.defaultText"
            min-height="5rem"
            ref="defaultText"
            :toolbar="defaultToolbar")
            template(v-slot:specialText)
              q-btn-dropdown(
                dense no-caps
                ref="specialText"
                no-wrap
                unelevated
                color="white"
                text-color="primary"
                label="Spezial"
                size="sm")
                q-list(dense)
                  q-item(tag="label" clickable @click="specialText('address')")
                    q-item-section(side)
                      |Adresse
                  q-item(tag="label" clickable @click="specialText('year')")
                    q-item-section(side)
                      |Jahr
                  q-item(tag="label" clickable @click="specialText('month')")
                    q-item-section(side)
                      |Monat
                  q-item(tag="label" clickable @click="specialText('additionalText')")
                    q-item-section(side)
                      |Monat
          div(class="text-h5")|Ergänzender Text
          q-editor(v-model="additionalText" min-height="5rem")
        q-card-section
          div(class="text-h5")|Empfänger
          div(class="row" v-for="(Congregation, Index) in congregations" :key="Index")
            div(clas="col")
              q-checkbox(v-model="receivers" :val="Congregation" :label="Congregation")
        q-card-section
          q-btn(label="Verschicken" v-if="receivers.length > 0" @click="sendMails")
</template>

<script>
const lmodMail = require('nodemailer')
const { readdirSync, statSync } = require('fs')
const { join } = require('path')

export default {
  name: 'appConfiguration',
  watch: {
  },
  data: () => ({
    defaultToolbar: [
      ['specialText'],
      ['bold', 'italic', 'underline']
    ],
    districts: null,
    chosenDistrict: null,
    congregations: null,
    configuration: null,
    receivers: null,
    additionalText: '',
    years: [],
    months: [],
    chosenYear: null,
    chosenMonth: null,
    appConfig: null
  }),
  mounted () {
    this.$store.commit('app/setModule', 'Benachrichtigungen senden')
    this.appConfig = this.$help.loadConfig('settings')
    this.districts = this.$help.loadConfig('districts')
    this.years = this.getFoldersInDir(this.appConfig.path)
  },
  methods: {
    getMonths () {
      this.months = this.getFoldersInDir(join(this.appConfig.path, this.chosenYear))
    },
    getFoldersInDir (Path) {
      let larrDirs = readdirSync(Path)
      larrDirs = larrDirs.filter(f => statSync(join(Path, f)).isDirectory())
      return larrDirs
    },
    buildText (AddressText, LinkAddress) {
      let lstrText = AddressText
      lstrText += '</br>' + this.configuration.misc.defaultText
      lstrText = lstrText
        .replace('__MONTH__', this.$help.intMonthToStrMonth(parseInt(this.chosenMonth)))
        .replace('__YEAR__', this.chosenYear)
        .replace('__ADDRESS__', '<a href="' + LinkAddress + '">' + LinkAddress + '</a>')
        .replace('__ADDITIONAL_TEXT__', this.additionalText)
        .replace('</div>', '</br>')
        .replace('<div>', '')
      return lstrText
    },
    buildSubject () {
      return 'Gemeindebrief ' + this.$help.intMonthToStrMonth(parseInt(this.chosenMonth)) + ' ' + this.chosenYear + ' - Finale Version'
    },
    sendMails () {
      const lstrFrom = 'gemeindebrief@bezirk-hh-sued.de'

      const lobjTransporter = lmodMail.createTransport({
        host: 'w0131afa.kasserver.com',
        port: 465,
        secure: true,
        auth: {
          user: 'm048ebd4',
          pass: 'Nak123!HHS'
        }
      })
      this.receivers.forEach(lstrCongregation => {
        let lstrAddressText = ''
        let lstrReceiver = ''

        this.configuration.congregations[lstrCongregation].receivers.forEach(lobjReceiver => {
          lstrReceiver += lobjReceiver.email + ','
          lstrAddressText += ((lobjReceiver.sex === 'male') ? 'Lieber ' : 'Liebe ') + lobjReceiver.firstname + ', '
        })
        lstrReceiver = lstrReceiver.substring(0, lstrReceiver.length - 1)
        console.log(lstrReceiver)
        lstrAddressText = lstrAddressText.substring(0, lstrAddressText.length - 2) + '!'
        const lobjMailOptions = {
          from: lstrFrom,
          to: lstrReceiver,
          subject: this.buildSubject(),
          html: this.buildText(lstrAddressText, this.configuration.congregations[lstrCongregation].links[this.chosenYear])
        }
        lobjTransporter.sendMail(lobjMailOptions, (error, info) => {
          console.log(error)
          console.log(info)
          if (error) {
            console.log(error)
          } else {
            this.$q.notify({
              message: 'E-Mails erfolgreich an Gemeinde ' + lstrCongregation + ' verschickt!',
              color: 'primary'
            })
          }
        })
      })
    },
    specialText (Text) {
      let lstrSpecialText = '__ADDRESS__'
      switch (Text) {
        case 'month':
          lstrSpecialText = '__MONTH__'
          break
        case 'year':
          lstrSpecialText = '__YEAR__'
          break
        case 'additionalText':
          lstrSpecialText = '__ADDITIONAL_TEXT__'
      }
      const edit = this.$refs.defaultText
      edit.caret.restore()
      edit.runCmd('insertHTML', lstrSpecialText)
      edit.focus()
    },
    translate (Value) {
      switch (Value) {
        case 'male': return 'Mann'
        case 'female': return 'Frau'
        case true: return 'Ja'
        case false: return 'Nein'
      }
    },
    onDistrictSelected () {
      this.congregations = this.$help.loadConfig(this.chosenDistrict)
      this.receivers = this.congregations
      this.configuration = this.$help.loadConfig(this.chosenDistrict + '_settings').sendOptions
    }
  }
}
</script>
