<template lang="pug">
  q-page()
    q-card
      q-card-section
        |{{messages}}
        q-btn(label="Testen" @click="onTest")

</template>

<script>
// import LclDPL from './../js/parishletter'
const ChildProcess = require('child_process')
const PathJoin = require('path').join
export default {
  name: 'appConfiguration',
  watch: {
  },
  data: () => ({
    messages: []
  }),
  mounted () {
    this.$store.commit('app/setModule', 'Test')
  },
  methods: {
    onTest () {
      // const lobjPL = new LclDPL('2020', '10', 'Hamburg-Süd', 'Nordheide', false, true)
      // const lintPages = lobjPL.NumPages
      const lintPages = 8
      for (let lintPageNumber = 1; lintPageNumber <= 8 / 2; lintPageNumber++) {
        let lintLeftPage = lintPages - (lintPageNumber - 1)
        let lintRightPage = 1 + (lintPageNumber - 1)

        if (lintPageNumber % 2 === 0) {
          const lintTemp = lintLeftPage
          lintLeftPage = lintRightPage
          lintRightPage = lintTemp
        }
        this.$q.notify({
          message: 'Jim pinged you.',
          caption: '5 minutes ago',
          color: 'secondary'
        })
        this.messages.push('Erstelle die ' + lintPageNumber + ' im Ziel')
        this.$q.notify({
          message: 'Jim pinged you.',
          caption: '5 minutes ago',
          color: 'secondary'
        })
        this.messages.push('Kopiere die Seite ', lintLeftPage, ' auf die LINKE Seite der ' + lintPageNumber + '. Seite der neuen Datei')
        this.messages.push('Kopiere die Seite ', lintRightPage, ' auf die RECHTE Seite der ' + lintPageNumber + '. Seite der neuen Datei')
        console.log('Erstelle die ' + lintPageNumber + ' im Ziel')
        console.log('Kopiere die Seite ', lintLeftPage, ' auf die LINKE Seite der ' + lintPageNumber + '. Seite der neuen Datei')
        console.log('Kopiere die Seite ', lintRightPage, ' auf die RECHTE Seite der ' + lintPageNumber + '. Seite der neuen Datei')
        const larrArgs = [PathJoin(this.$help.getPath('py'), 'booklet.py'), 'C:\\Users\\ckoeste1\\source\\repos\\P\\N\\GB\\data\\2020-10_Digital_copy.pdf', 'C:\\Users\\ckoeste1\\source\\repos\\P\\N\\GB\\data\\2020-10_Digital_new.pdf', lintPageNumber]

        ChildProcess.spawnSync('python', larrArgs)
      }
    }
  }
}
</script>
