<template lang="pug">
  div
    q-page-sticky(
      v-if="$store.state.app.fabs.modules.visible"
      position="top-left"
      :offset="[18, 18]" )
      q-fab(
        direction="down"
        :hide-label="$store.state.app.fabs.modules.hideMainLabels"
        color="accent"
        label="Module"
        label-position="right"
        icon="keyboard_arrow_down"
        vertical-actions-align="left")
        q-fab-action(
          v-for="(Module, Index) in $store.state.app.fabs.modules.options"
          :key="Index"
          color="primary"
          :label="Module.label"
          :icon="Module.icon"
          @click="onChangeModule(Module.module)"
          :hide-label="$store.state.app.fabs.modules.hideSubLabels")
    //-q-page-sticky(
      v-if="$store.state.app.fabs.sections.visible"
      position="top-right"
      :offset="[18, 18]" )
      q-fab(
        direction="down"
        :hide-label="$store.state.app.fabs.sections.hideMainLabels"
        color="accent"
        label="Bereiche"
        label-position="left"
        icon="keyboard_arrow_down"
        vertical-actions-align="right")
        q-fab-action(
          v-for="(Section, Index) in $store.state.app.fabs.sections.options"
          :key="Index"
          color="primary"
          icon="person_add"
          :label="Section.label"
          @click="onSelectSection(Section.action)"
          :hide-label="$store.state.app.fabs.sections.hideMainLabels" )
    //-q-page-sticky(
      v-if="$store.state.app.fabs.actions.visible"
      position="bottom-right"
      :offset="[18, 18]" )
      q-fab(
        direction="up"
        :hide-label="$store.state.app.fabs.actions.hideMainLabels"
        color="accent"
        label="Aktionen"
        label-position="left"
        icon="keyboard_arrow_down"
        vertical-actions-align="right")
        q-fab-action(v-for="(Action, Index) in $store.state.app.fabs.actions.options"
          :key="Index"
          color="primary"
          :icon="Action.icon"
          :label="Action.label"
          @click="onSelectAction(Action.action)"
          :hide-label="$store.state.app.fabs.actions.hideSubLabels" )
    //-q-page-sticky(
      v-if="$store.state.app.fabs.misc.visible"
      position="bottom-left"
      :offset="[18, 18]" )
      q-fab(
        direction="up"
        :hide-label="$store.state.app.fabs.sections.hideMainLabels"
        color="accent"
        label="Verschiedenes"
        label-position="right"
        icon="keyboard_arrow_down"
        vertical-actions-align="left")
        q-fab-action(
          color="primary"
          icon="person_add"
          label="Neuer Monat"
          :hide-label="$store.state.app.fabs.sections.hideSubLabels" )
</template>

<script>

export default {
  name: 'Fabs',
  components: { },
  data: () => ({
    modules: []
  }),
  watch: {
  },
  mounted () {
    this.$store.commit('app/setModulesOptions', this.$help.loadConfig('modules'))
  },
  methods: {
    onChangeModule (Module) {
      this.$emit('onModuleChanged', Module)
    },
    onSelectSection (SectionAction) {
      this.$store.commit('app/onSection', SectionAction)
      this.$emit('onSection', SectionAction)
    },
    onSelectAction (ActionAction) {
      this.$store.commit('app/clearReceivers')
      this.$store.commit('app/onAction', ActionAction)
      this.$emit('onAction', ActionAction)
    }
  }
}
</script>
