<template lang="pug">
  div(class="row")
    div(class="col-1")
    div(class="col" v-if="elements.district.visible" )
      q-select(
        v-model="elements.district.value"
        @input="onDistrictSelected"
        label="Bezirk"
        :options="elements.district.options"
        rounded
        outlined
        dense)
    div(class="col" v-if="elements.year.visible")
      q-select(
        v-model="elements.year.value"
        label="Jahr"
        :options="elements.year.options"
        rounded
        outlined
        dense)
    div(class="col" v-if="elements.month.visible")
      q-select(
        v-model="elements.month.value"
        label="Monat"
        :options="elements.month.options"
        rounded
        outlined
        dense)
    div(class="col" v-if="elements.congregation.visible")
      q-select(
        v-model="elements.congregation.value"
        label="Gemeinde"
        :options="elements.congregation.options"
        rounded
        outlined
        dense)

</template>

<script>
export default {
  name: 'Header',
  props: {
    flow: {
      type: Array,
      default: () => { return [] }
    },
    district: {
      type: Boolean,
      default: false
    },
    congregation: {
      type: Boolean,
      default: false
    },
    year: {
      type: Boolean,
      default: false
    },
    month: {
      type: Boolean,
      default: false
    },
    dOptions: {
      type: Array,
      default: () => { return [] }
    },
    cOptions: {
      type: Array,
      default: () => { return [] }
    },
    yOptions: {
      type: Array,
      default: () => { return [] }
    },
    mOptions: {
      type: Array,
      default: () => { return [] }
    }
  },
  components: { },
  data: () => ({
    configPath: null,
    districtValue: '',
    congregationValue: '',
    elements: {
      district: { visible: false, options: null, value: '' },
      congregation: { visible: false, options: null, value: '' },
      year: { visible: false, options: null, value: '' },
      month: { visible: false, options: null, value: '' }
    }
  }),
  watch: {
  },
  mounted () {
    this.configPath = this.$help.loadConfig('settings').path
    if (this.flow.length > 0) {
      this.executeFlow('mount')
    } else {
      this.elements.district.visible = this.district
      this.elements.congregation.visible = this.congregation
      this.elements.year.visible = this.year
      this.elements.month.visible = this.month
      this.elements.district.options = this.dOptions
      this.elements.congregation.options = this.cOptions
      this.elements.year.options = this.yOptions
      this.elements.month.options = this.mOptions
    }
  },
  methods: {
    executeFlow (Step) {
      this.flow.forEach(lobjFlowStep => {
        if (lobjFlowStep.when === Step) {
          this.flowAction(lobjFlowStep)
        }
      })
    },
    flowAction (FlowStep) {
      switch (FlowStep.action) {
        case 'hide':
          this.ElementsVisibility(FlowStep.what, false)
          break
        case 'load':
          this.ElementsData(FlowStep.for, FlowStep.what, FlowStep.from, FlowStep.source)
          break
        case 'show':
          this.ElementsVisibility(FlowStep.what, true)
          break
        case 'emit':
          if (!Object.prototype.hasOwnProperty.call(FlowStep, 'event')) {
            FlowStep.event = ''
          }
          this.emitData(FlowStep.when, FlowStep.event)
          break
      }
    },
    emitData (Element, Event) {
      let lstrEvent = Event
      if (lstrEvent === '') {
        switch (Element) {
          case 'district':
            lstrEvent = 'onDistrict'
            break
          case 'congregation':
            lstrEvent = 'onCongregation'
            break
        }
      }
      this.$emit(lstrEvent, this.elements[Element].value)
    },
    ElementsData (Element, What, From, Source) {
      if (What === 'district') {
        if (From === 'file') {
          if (Source === 'districtSettings') {
            this.elements[Element].options = this.$help.loadDistricts()
          }
        }
      }
      if (What === 'congregations') {
        if (From === 'file') {
          if (Source === 'congergationSettings') {
            this.elements[Element].options = this.$help.loadCongregationsInDistrict(this.elements.district.value)
          }
        }
      }
      if (What === 'years') {
        if (From === 'fs') {
          if (Source === 'district') {
            this.$help.
          }
        }
      }
    },
    ElementsVisibility (Elements, Visible) {
      if (Array.isArray(Elements)) {
        Elements.forEach(lstrElement => {
          this.elements[lstrElement].visible = Visible
        })
      } else {
        this.elements[Elements].visible = Visible
      }
    },
    onDistrictSelected () {
      this.executeFlow('district')
    },
    onCongregationSelected () {
      this.executeFlow('congregation')
    }
  }
}
</script>
