<template lang="pug">
  div(class="row")
    div(class="col-1")
    div(
      v-if="$store.state.app.selectionHeader.district.visible"
      class="col")
      q-select(
        v-model="$store.state.app.selectionHeader.district.value"
        @input="onSelectedDistrict($store.state.app.selectionHeader.district.value)"
        label="Bezirk"
        :options="$store.state.app.selectionHeader.district.options"
        rounded
        outlined
        dense)
    div(
      v-if="$store.state.app.selectionHeader.year.visibiltyChangeable && $store.state.app.selectionHeader.year.visible && $store.state.app.selectionHeader.district.value"
      class="col")
      q-select(
        @input="onSelectYear($store.state.app.selectionHeader.year.value, $store.state.app.selectionHeader.district.value)"
        v-model="$store.state.app.selectionHeader.year.value"
        label="Jahr"
        :options="$store.state.app.selectionHeader.year.options"
        rounded
        outlined
        dense)
    div(
      v-if="$store.state.app.selectionHeader.month.visibiltyChangeable && $store.state.app.selectionHeader.month.visible && $store.state.app.selectionHeader.year.value"
      class="col")
      q-select(
        @input="onSelectMonth($store.state.app.selectionHeader.month.value, $store.state.app.selectionHeader.year.value, $store.state.app.selectionHeader.district.value)"
        v-model="$store.state.app.selectionHeader.month.value"
        label="Monat"
        :options="$store.state.app.selectionHeader.month.options"
        rounded
        outlined
        dense)
    div(
      v-if="$store.state.app.selectionHeader.congregation.visibiltyChangeable && $store.state.app.selectionHeader.congregation.visible && ($store.state.app.selectionHeader.month.value || $store.state.app.selectionHeader.district.value)"
      class="col" )
      q-select(
        v-model="$store.state.app.selectionHeader.congregation.value"
        @input="onSelectedCongregation($store.state.app.selectionHeader.congregation.value)"
        label="Gemeinde"
        :options="$store.state.app.selectionHeader.congregation.options"
        rounded
        outlined
        dense)
</template>

<script>
import gcompMenu from './menu'
export default {
  name: 'Header',
  components: { gcompMenu },
  data: () => ({
  }),
  watch: {
  },
  mounted () {
    this.modules = this.$help.loadConfig('modules')
    this.$store.commit('app/selectionHeaderOptions', { name: 'district', options: this.$help.loadConfig('districts') })
  },
  methods: {
    onSelectedDistrict (District) {
      this.$store.commit('app/selectionHeaderOptions', { name: 'year', options: this.$help.getYearsForDistrict(District) })
    },
    onSelectYear (Year, District) {
      this.$store.commit('app/selectionHeaderOptions', { name: 'month', options: this.$help.getMonthsForDistrictYear(District, Year) })
    },
    onSelectMonth (Month, Year, District) {
      this.$store.commit('app/selectionHeaderOptions', { name: 'congregation', options: this.$help.getCongregationsForDistrictYearMonth(District, Year, Month) })
    }

  }
}
</script>
