<template lang="pug">
  div(:class="cssClass")
    span(v-if="!inPlace" style="cursor: pointer;" @click="inPlace = true; cssClass = 'col-2'")
      |{{localValue}}
    span(v-if="inPlace")
      div(class="row")
        div(class="col")
          span(v-if="type === 'select'")
            q-select(v-model="localValue" :options="options" dense)
        div(class="col")
          q-btn(round dense flat icon="done" color="positive" size="md" @click.stop @click="onSelect")
</template>

<script>
export default {
  name: 'InPlace',
  props: ['type', 'options', 'value'],
  components: { },
  data: () => ({
    inPlace: false,
    cssClass: 'col-1',
    localValue: null
  }),
  mounted () {
    this.localValue = this.value
  },
  watch: {
  },
  methods: {
    onSelect () {
      this.inPlace = false
      this.cssClass = 'col-1'
      this.$emit('input', this.localValue)
    }
  }
}
</script>
