<template lang="pug">
  div
    q-dialog(v-model="modulesDialog" full-width full-height)
      q-card
        q-card-section
          div(class="text-h5")|Die Module
        q-card-section
          div(class="q-pa-md row items-start q-gutter-md")
            q-card(style="width: 300px;" v-for="(Module, Index) in $store.state.app.modules" :key="Index")
              q-card-section(@click="onChangeModule(Module.module, Module.enabled)" style="cursor: pointer;")
                div(class="text-h6")
                  |{{Module.headline}}
                div(class="text-subtitle2")|{{Module.subHeadline}}
              q-separator
              q-card-section(@click="onChangeModule(Module.module, Module.enabled)" style="cursor: pointer;")
                div
                  |{{Module.text}}
              q-separator
              q-card-actions(v-if="Module.enabled")
                q-btn(label="Modul aufrufen" flat @click="onChangeModule(Module.module, Module.enabled)")
        q-card-actions()
          q-btn(flat label="Menü schließen" v-close-popup @click="modulesDialog = false")
    q-page-sticky(position="bottom-right" :offset="fabPos")
      q-fab(
        @click="modulesDialog = true"
        icon="menu"
        color="primary"
        direction="down"
        tabindex="-1"
        :disable="draggingFab"
        v-touch-pan.prevent.mouse="moveFab")
</template>

<script>

export default {
  name: 'Fabs',
  components: { },
  data: () => ({
    modules: [],
    fabPos: [18, 18],
    draggingFab: false,
    modulesDialog: false,
    cardCounter: 0
  }),
  watch: {
  },
  mounted () {
    this.$store.commit('app/setModulesOptions', this.$help.loadConfig('modules'))
  },
  methods: {
    moveFab (ev) {
      this.draggingFab = ev.isFirst !== true && ev.isFinal !== true

      this.fabPos = [
        this.fabPos[0] - ev.delta.x,
        this.fabPos[1] - ev.delta.y
      ]
    },
    onChangeModule (Module, Enabled) {
      if (Enabled) {
        this.modulesDialog = false
        this.$emit('onModuleChanged', Module)
      }
    }
  }
}
</script>
