<template lang="pug">
  q-layout(view="lHh Lpr lFf")
    q-page-container
      q-page(padding)
        gcompMenu(@onModuleChanged="changeModule")
        component(:is="selectedComponent")
</template>

<script>
import gcompContent from '../components/app/content.vue'
import gcompAppConfiguration from '../components/app/appConfiguration'
import gcompBW from '../components/app/bwEdition'
import gcompcContentConfiguration from '../components/app/contentConfiguration'
import gcompNewMonth from '../components/app/newMonth'
import gcompPrint from '../components/app/print'
import gcompSendMails from '../components/app/sendMails'

import gcompMenu from '../components/components/menu'

export default {
  name: 'PL',
  components: { gcompMenu, gcompContent, gcompAppConfiguration, gcompBW, gcompcContentConfiguration, gcompNewMonth, gcompPrint, gcompSendMails },
  data: () => ({
    selectedComponent: null
  }),
  watch: {
  },
  mounted () {
  },
  methods: {
    changeModule (Module) {
      this.selectedComponent = Module
    }
  }
}
</script>
